Repository Ferroin/fvirt, changes with the labels that .github/labeler.yml gives for each.
All labels: area/common, area/tests, area/cli, area/libvirt, area/util, component/host, component/domain, component/storage/pool, component/storage/volume, documentation, infra, infra/ci, infra/packaging

.github/labeler.yml:

---
# Configuration for the pr-labeler workflow.

area/common:
  - fvirt/__init__.py
  - fvirt/version.py
  - tests/version_test.py

area/tests:
  - tests/**

area/cli:
  - fvirt/cli.py
  - fvirt/commands/**
  - tests/cli_test.py
  - tests/commands/**

area/libvirt:
  - fvirt/libvirt/**
  - tests/libvirt/**

area/util:
  - fvirt/util/**
  - tests/util/**

component/host:
  - fvirt/commands/host/**
  - fvirt/libvirt/hypervisor.py
  - tests/commands/host/**
  - tests/libvirt/libvirt_hypervisor_test.py

component/domain:
  - fvirt/commands/domain/**
  - fvirt/libvirt/domain.py
  - tests/commands/domain/**
  - tests/libvirt/libvirt_domain_test.py

component/storage/pool:
  - fvirt/commands/pool/**
  - fvirt/libvirt/storage_pool.py
  - tests/commands/pool/**
  - tests/libvirt/libvirt_storage_pool_test.py

component/storage/volume:
  - fvirt/commands/volume/**
  - fvirt/libvirt/volume.py
  - tests/commands/volume/**
  - tests/libvirt/libvirt_volume_test.py

documentation:
  - LICENSE.md
  - README.md

infra:
  - .gigignore
  - .gitmodules
  - .github/labeler.yml
  - .github/labels.yml

infra/ci:
  - .flake8
  - .github/dependabot.yml
  - .github/scripts/check-labels.py
  - .github/workflows/**
  - .mdl-style.rb

infra/packaging:
  - poetry.lock
  - pyproject.toml

Add AArch64 test images.
  tests/conftest.py
  tests/data/images/aarch64/buildroot-commit
  tests/data/images/aarch64/buildroot-config
  tests/data/images/aarch64/busybox-config
  tests/data/images/aarch64/kernel-config
Labels: area/tests

Drop embedded driver handling.
  tests/conftest.py
Labels: area/tests

Redesign live domain image handling.
  tests/README.md
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/conftest.py
  tests/data/images/README.md
  tests/data/images/x86_64/buildroot-commit
  tests/data/images/x86_64/buildroot-config
  tests/data/images/x86_64/busybox-config
  tests/data/images/x86_64/kernel-config
  tests/data/test-kernels/x86_64.img
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/cli, area/libvirt, component/domain

Parallelize tests by default.
  pyproject.toml
  tests/README.md
Labels: area/tests, infra/packaging

Add test for domain creation.
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/libvirt, component/domain

Preliminary work to support testing using live domains.
  poetry.lock
  pyproject.toml
  tests/conftest.py
Labels: area/tests, infra/packaging

Add enhanced domain shutdown tests, and domain console test.
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/libvirt, component/domain

Add bootable kernel image for testing in x86_64 VMs.
  tests/data/test-kernels/x86_64.img
Labels: area/tests

Don’t mark volume tests as slow.
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_upload_test.py
  tests/commands/volume/commands_volume_wipe_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/volume

Add test cases that require live domain testing.
  fvirt/commands/domain/shutdown.py
  tests/commands/domain/commands_domain_console_test.py
  tests/commands/domain/commands_domain_create_test.py
  tests/commands/domain/commands_domain_define_test.py
  tests/commands/domain/commands_domain_reset_test.py
  tests/commands/domain/commands_domain_save_test.py
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/conftest.py
Labels: area/tests, area/cli, component/domain

Expand domain shutdown testing and fix issues it exposes.
  fvirt/libvirt/domain.py
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/libvirt, component/domain

Switch to using a bootable kernel image for live domain testing.
  tests/conftest.py
Labels: area/tests

Assorted fixes for domain console handling.
  fvirt/libvirt/domain.py
  fvirt/libvirt/stream.py
Labels: area/libvirt, component/domain

Resolve CI issues.
  .github/workflows/review.yml
  tests/README.md
  tests/conftest.py
  tests/data/images/README.md
  tests/data/images/aarch64/buildroot-config
  tests/data/images/aarch64/busybox-config
  tests/data/images/x86_64/buildroot-config
  tests/data/images/x86_64/busybox-config
Labels: area/tests, infra/ci

Add Git LFS attributes.
  .gitattributes
Labels: none

Clean up dependencies.
  poetry.lock
  pyproject.toml
Labels: infra/packaging

General improvements to test reliability.
  poetry.lock
  pyproject.toml
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/cli, area/libvirt, component/domain, infra/packaging

General improvements to test reliability.
  poetry.lock
  pyproject.toml
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/cli, area/libvirt, component/domain, infra/packaging

Add proper handling for storage pool states.
  fvirt/commands/pool/info.py
  fvirt/commands/pool/list.py
  fvirt/libvirt/storage_pool.py
  tests/libvirt/libvirt_storage_pool_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/pool

Add proper handling for storage pool states.
  fvirt/commands/pool/info.py
  fvirt/commands/pool/list.py
  fvirt/libvirt/storage_pool.py
  tests/libvirt/libvirt_storage_pool_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/pool

Assorted CI fixes.
  .github/workflows/review.yml
Labels: infra/ci

Assorted CI fixes.
  .github/workflows/review.yml
Labels: infra/ci

Remove concurrency limits on PR labeler.
  .github/workflows/pr-labeler.yml
Labels: infra/ci

Update dependencies.
  fvirt/commands/_base/xslt.py
  poetry.lock
  pyproject.toml
Labels: area/cli, infra/packaging

Update dependencies.
  fvirt/commands/_base/xslt.py
  poetry.lock
  pyproject.toml
Labels: area/cli, infra/packaging

Preliminary dependency handling for templating functionality.
  .github/workflows/review.yml
  poetry.lock
  pyproject.toml
Labels: infra/ci, infra/packaging

Add storage pool and storage volume templates.
  fvirt/commands/pool/info.py
  fvirt/commands/pool/list.py
  fvirt/commands/volume/info.py
  fvirt/commands/volume/list.py
  fvirt/libvirt/data.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  fvirt/templates/pool.xml
  fvirt/templates/volume.xml
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/conftest.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/cli, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Add basic templating support.
  fvirt/libvirt/entity.py
  fvirt/libvirt/exceptions.py
  fvirt/util/templates.py
  tests/util/util_templates_test.py
Labels: area/tests, area/libvirt, area/util

Add basic templating for domain config.
  fvirt/libvirt/domain.py
  fvirt/libvirt/models/domain.py
  fvirt/libvirt/storage_pool.py
  fvirt/templates/domain/_base.xml
  fvirt/templates/domain/_base_qemu.xml
  fvirt/templates/domain/_container.xml
  fvirt/templates/domain/_macros.xml
  fvirt/templates/domain/_vm.xml
  fvirt/templates/domain/hvf.xml
  fvirt/templates/domain/kvm.xml
  fvirt/templates/domain/lxc.xml
  fvirt/templates/domain/openvz.xml
  fvirt/templates/domain/qemu.xml
  fvirt/templates/domain/test.xml
  fvirt/templates/domain/xen.xml
  poetry.lock
  pyproject.toml
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool, infra/packaging

Switch pool and volume templating to use Pydantic models.
  fvirt/libvirt/domain.py
  fvirt/libvirt/models/storage_pool.py
  fvirt/libvirt/models/volume.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  fvirt/templates/pool.xml
  fvirt/templates/volume.xml
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Further testing and cleanup, plus a few additional features.
  fvirt/libvirt/data.py
  fvirt/libvirt/models/domain.py
  fvirt/libvirt/models/storage_pool.py
  fvirt/libvirt/models/volume.py
  poetry.lock
  pyproject.toml
  tests/libvirt/models/libvirt_models_domain_test.py
  tests/libvirt/models/libvirt_models_storage_pool_test.py
  tests/libvirt/models/libvirt_models_volume_test.py
Labels: area/tests, area/libvirt, infra/packaging

Move domain type into DomainInfo model.
  fvirt/libvirt/domain.py
  fvirt/libvirt/models/domain.py
  fvirt/templates/domain.xml
Labels: area/libvirt, component/domain

Add missing types stubs for psutil.
  poetry.lock
  pyproject.toml
Labels: infra/packaging

Move templates module to templates directory.
  fvirt/libvirt/entity.py
  fvirt/templates/__init__.py
  tests/templates_test.py
Labels: area/tests, area/libvirt

Assorted template fixes.
  fvirt/libvirt/entity.py
  fvirt/libvirt/models/domain.py
  fvirt/templates/__init__.py
  fvirt/templates/domain.xml
  fvirt/templates/domain/_base.xml
  fvirt/templates/domain/_base_qemu.xml
  fvirt/templates/domain/_container.xml
  fvirt/templates/domain/_macros.xml
  fvirt/templates/domain/_vm.xml
  fvirt/templates/domain/hvf.xml
  fvirt/templates/domain/kvm.xml
  fvirt/templates/domain/lxc.xml
  fvirt/templates/domain/openvz.xml
  fvirt/templates/domain/qemu.xml
  fvirt/templates/domain/test.xml
  fvirt/templates/domain/vz.xml
  fvirt/templates/domain/xen.xml
  tests/conftest.py
  tests/libvirt/libvirt_domain_test.py
  tests/templates_test.py
Labels: area/tests, area/libvirt, component/domain

Switch to literals instead of patterns for models when possible.
  fvirt/libvirt/models/domain.py
  fvirt/libvirt/models/storage_pool.py
  fvirt/libvirt/models/volume.py
  fvirt/templates/domain/_macros.xml
  tests/libvirt/models/libvirt_models_storage_pool_test.py
Labels: area/tests, area/libvirt

Further tests for domain models.
  fvirt/libvirt/models/domain.py
  tests/libvirt/models/libvirt_models_domain_test.py
Labels: area/tests, area/libvirt

Switch to more correct types for addresses in domain models.
  fvirt/libvirt/models/domain.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
Labels: area/tests, area/libvirt, infra/packaging

Add further test cases for domain models.
  fvirt/libvirt/models/domain.py
  fvirt/templates/domain/_macros.xml
  tests/libvirt/models/libvirt_models_domain_test.py
Labels: area/tests, area/libvirt

Fix deps for GHA workflows.
  .github/workflows/review.yml
Labels: infra/ci
