Repository Ferroin/fvirt, changes with the labels that .github/labeler.yml gives for each.
All labels: area/common, area/tests, area/cli, area/libvirt, area/util, component/host, component/domain, component/storage/pool, component/storage/volume, documentation, infra, infra/ci, infra/packaging

.github/labeler.yml:

---
# Configuration for the pr-labeler workflow.

area/common:
  - fvirt/__init__.py
  - fvirt/version.py
  - tests/version_test.py

area/tests:
  - tests/**

area/cli:
  - fvirt/cli.py
  - fvirt/commands/**
  - tests/cli_test.py
  - tests/commands/**

area/libvirt:
  - fvirt/libvirt/**
  - tests/libvirt/**

area/util:
  - fvirt/util/**
  - tests/util/**

component/host:
  - fvirt/commands/host/**
  - fvirt/libvirt/hypervisor.py
  - tests/commands/host/**
  - tests/libvirt/libvirt_hypervisor_test.py

component/domain:
  - fvirt/commands/domain/**
  - fvirt/libvirt/domain.py
  - tests/commands/domain/**
  - tests/libvirt/libvirt_domain_test.py

component/storage/pool:
  - fvirt/commands/pool/**
  - fvirt/libvirt/storage_pool.py
  - tests/commands/pool/**
  - tests/libvirt/libvirt_storage_pool_test.py

component/storage/volume:
  - fvirt/commands/volume/**
  - fvirt/libvirt/volume.py
  - tests/commands/volume/**
  - tests/libvirt/libvirt_volume_test.py

documentation:
  - LICENSE.md
  - README.md

infra:
  - .gigignore
  - .gitmodules
  - .github/labeler.yml
  - .github/labels.yml

infra/ci:
  - .flake8
  - .github/dependabot.yml
  - .github/scripts/check-labels.py
  - .github/workflows/**
  - .mdl-style.rb

infra/packaging:
  - poetry.lock
  - pyproject.toml

Fix broken import in fvirt.commands._base.objects
  fvirt/commands/_base/objects.py
Labels: area/cli

Add function to convert from bytes to larger units.
  fvirt/util/units.py
  tests/util/util_units_test.py
Labels: area/tests, area/util

Fix decimal point handling.
  fvirt/commands/_base/state.py
Labels: area/cli

Add unit handling for info and list commands.
  fvirt/commands/_base/info.py
  fvirt/commands/_base/list.py
  fvirt/commands/domain/info.py
  fvirt/commands/pool/info.py
  fvirt/commands/pool/list.py
  fvirt/commands/volume/info.py
  fvirt/commands/volume/list.py
  fvirt/util/tables.py
Labels: area/cli, area/util, component/domain, component/storage/pool, component/storage/volume

Fix unit back conversion.
  fvirt/util/units.py
  tests/util/util_units_test.py
Labels: area/tests, area/util

Fix broken import in fvirt.commands._base.objects
  fvirt/commands/_base/objects.py
Labels: area/cli

Fix incorrect argument names in fvirt.libvirt.storage_pool
  fvirt/libvirt/storage_pool.py
Labels: area/libvirt, component/storage/pool

Add infrastructure to format units when printing byte vaalues.
  fvirt/cli.py
  fvirt/commands/_base/state.py
Labels: area/cli

CI fixes
  .github/workflows/review.yml
Labels: infra/ci

Switch to internal stream wrapper API.
  fvirt/libvirt/stream.py
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Better mark tests appropriately.
  fvirt/libvirt/__init__.py
  fvirt/libvirt/exceptions.py
  fvirt/libvirt/volume.py
  pyproject.toml
  tests/conftest.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/pool, component/storage/volume, infra/packaging

Add method to upload data to a volume.
  fvirt/libvirt/exceptions.py
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Add pytest-timeout plugin.
  poetry.lock
  pyproject.toml
Labels: infra/packaging

Add base command for file transfer commands.
  fvirt/commands/_base/command.py
  fvirt/commands/_base/filecopy.py
Labels: area/cli

Add method to download volume data to local IO stream.
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Fix type checking issues with descriptors.
  fvirt/libvirt/descriptors.py
Labels: area/libvirt

Add commands to upload and download volumes.
  fvirt/commands/_base/exitcode.py
  fvirt/commands/_base/filetransfer.py
  fvirt/commands/volume/__init__.py
  fvirt/commands/volume/download.py
  fvirt/commands/volume/upload.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/volume.py
Labels: area/cli, area/libvirt, component/domain, component/storage/volume

Better mark tests appropriately.
  fvirt/libvirt/__init__.py
  fvirt/libvirt/exceptions.py
  fvirt/libvirt/volume.py
  pyproject.toml
  tests/conftest.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/pool, component/storage/volume, infra/packaging

Add pytest-timeout plugin.
  poetry.lock
  pyproject.toml
Labels: infra/packaging

Add method to download volume data to local IO stream.
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Fix type checking issues with descriptors.
  fvirt/libvirt/descriptors.py
Labels: area/libvirt

Add base command for file transfer commands.
  fvirt/commands/_base/command.py
  fvirt/commands/_base/filecopy.py
Labels: area/cli

Switch to internal stream wrapper API.
  fvirt/libvirt/stream.py
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Add method to upload data to a volume.
  fvirt/libvirt/exceptions.py
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Add commands to upload and download volumes.
  fvirt/commands/_base/exitcode.py
  fvirt/commands/_base/filetransfer.py
  fvirt/commands/volume/__init__.py
  fvirt/commands/volume/download.py
  fvirt/commands/volume/upload.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/volume.py
Labels: area/cli, area/libvirt, component/domain, component/storage/volume

Set up event loop when running tests.
  tests/conftest.py
Labels: area/tests

Rework fvirt.libvirt.stream in preparation for async streams.
  fvirt/libvirt/stream.py
  fvirt/libvirt/volume.py
Labels: area/libvirt, component/storage/volume

Add io.IOBase equivalent API to fvirt.libvirt.stream.Stream.
  fvirt/libvirt/stream.py
  fvirt/libvirt/volume.py
Labels: area/libvirt, component/storage/volume

Set up event loop when running tests.
  tests/conftest.py
Labels: area/tests

Add io.IOBase equivalent API to fvirt.libvirt.stream.Stream.
  fvirt/libvirt/stream.py
  fvirt/libvirt/volume.py
Labels: area/libvirt, component/storage/volume

Rework fvirt.libvirt.stream in preparation for async streams.
  fvirt/libvirt/stream.py
  fvirt/libvirt/volume.py
Labels: area/libvirt, component/storage/volume

Remove async stream stubs.
  fvirt/libvirt/stream.py
Labels: area/libvirt

Add function to get stream attached to domain console.
  fvirt/libvirt/domain.py
Labels: area/libvirt, component/domain

Add command to access domain console.
  fvirt/commands/domain/__init__.py
  fvirt/commands/domain/console.py
  fvirt/libvirt/domain.py
Labels: area/cli, area/libvirt, component/domain

Add function to get stream attached to domain console.
  fvirt/libvirt/domain.py
Labels: area/libvirt, component/domain

Remove async stream stubs.
  fvirt/libvirt/stream.py
Labels: area/libvirt

Add command to access domain console.
  fvirt/commands/domain/__init__.py
  fvirt/commands/domain/console.py
  fvirt/libvirt/domain.py
Labels: area/cli, area/libvirt, component/domain

Fix unique text prefix.
  tests/conftest.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Add tests to check for aliases topic in help commands.
  tests/commands/domain/commands_domain_test.py
  tests/commands/pool/commands_pool_test.py
  tests/commands/volume/commands_volume_test.py
Labels: area/tests, area/cli, component/domain, component/storage/pool, component/storage/volume

Attempt domain lookup by ID first.
  fvirt/libvirt/domain.py
Labels: area/libvirt, component/domain
