Repository Ferroin/fvirt, changes with the labels that .github/labeler.yml gives for each.
All labels: area/common, area/tests, area/cli, area/libvirt, area/util, component/host, component/domain, component/storage/pool, component/storage/volume, documentation, infra, infra/ci, infra/packaging

.github/labeler.yml:

---
# Configuration for the pr-labeler workflow.

area/common:
  - fvirt/__init__.py
  - fvirt/version.py
  - tests/version_test.py

area/tests:
  - tests/**

area/cli:
  - fvirt/cli.py
  - fvirt/commands/**
  - tests/cli_test.py
  - tests/commands/**

area/libvirt:
  - fvirt/libvirt/**
  - tests/libvirt/**

area/util:
  - fvirt/util/**
  - tests/util/**

component/host:
  - fvirt/commands/host/**
  - fvirt/libvirt/hypervisor.py
  - tests/commands/host/**
  - tests/libvirt/libvirt_hypervisor_test.py

component/domain:
  - fvirt/commands/domain/**
  - fvirt/libvirt/domain.py
  - tests/commands/domain/**
  - tests/libvirt/libvirt_domain_test.py

component/storage/pool:
  - fvirt/commands/pool/**
  - fvirt/libvirt/storage_pool.py
  - tests/commands/pool/**
  - tests/libvirt/libvirt_storage_pool_test.py

component/storage/volume:
  - fvirt/commands/volume/**
  - fvirt/libvirt/volume.py
  - tests/commands/volume/**
  - tests/libvirt/libvirt_volume_test.py

documentation:
  - LICENSE.md
  - README.md

infra:
  - .gigignore
  - .gitmodules
  - .github/labeler.yml
  - .github/labels.yml

infra/ci:
  - .flake8
  - .github/dependabot.yml
  - .github/scripts/check-labels.py
  - .github/workflows/**
  - .mdl-style.rb

infra/packaging:
  - poetry.lock
  - pyproject.toml

Fix linting issues.
  .bandit
  fvirt/commands/_base/objects.py
Labels: area/cli

Add pytest-flakefinder plugin.
  poetry.lock
  pyproject.toml
Labels: infra/packaging

Use unique paths for pool xslt tests.
  tests/commands/pool/commands_pool_xslt_test.py
  tests/libvirt/libvirt_storage_pool_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/pool

Add test for pool autostart command.
  tests/commands/pool/commands_pool_autostart_test.py
Labels: area/tests, area/cli, component/storage/pool

Switch sparse upload/download to use skipif instead of xfail.
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_upload_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/volume

Fix buggy handling of qemu:///embed URIs.
  fvirt/libvirt/uri.py
  tests/libvirt/libvirt_uri_test.py
Labels: area/tests, area/libvirt

Add test for pool build command.
  tests/commands/pool/commands_pool_build_test.py
  tests/libvirt/libvirt_storage_pool_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/pool

Add more pool command tests.
  tests/commands/pool/commands_pool_delete_test.py
  tests/commands/pool/commands_pool_refresh_test.py
  tests/commands/pool/commands_pool_start_test.py
  tests/commands/pool/commands_pool_stop_test.py
  tests/commands/pool/commands_pool_undefine_test.py
  tests/conftest.py
Labels: area/tests, area/cli, component/storage/pool

Add fvirt.libvirt.storage_pool create and define tests.
  tests/libvirt/libvirt_storage_pool_test.py
Labels: area/tests, area/libvirt, component/storage/pool

Fix linting issues.
  .bandit
  fvirt/commands/_base/objects.py
Labels: area/cli

Assorted fixes for tests.
  tests/commands/volume/commands_volume_wipe_test.py
  tests/conftest.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/pool, component/storage/volume

Fix typo in fvirt.libvirt.uri tests.
  tests/libvirt/libvirt_uri_test.py
Labels: area/tests, area/libvirt

Add tests to check config, config_raw, and config_live properties.
  fvirt/libvirt/entity.py
  fvirt/libvirt/storage_pool.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
  tests/shared.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Add more pool command tests.
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/pool/commands_pool_define_test.py
Labels: area/tests, area/cli, component/storage/pool

Add pool xslt command test.
  tests/commands/pool/commands_pool_xslt_test.py
Labels: area/tests, area/cli, component/storage/pool

Switch to using a factory fixture for XSLT documents.
  tests/conftest.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
  tests/libvirt/shared.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Fix serialization path selection.
  tests/conftest.py
Labels: area/tests

Fix XSLT tests.
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/shared.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool

Tweak fixtures to make tests a bit simpler.
  tests/cli_test.py
  tests/commands/domain/commands_domain_info_test.py
  tests/commands/domain/commands_domain_list_test.py
  tests/commands/pool/commands_pool_autostart_test.py
  tests/commands/pool/commands_pool_delete_test.py
  tests/commands/pool/commands_pool_info_test.py
  tests/commands/pool/commands_pool_list_test.py
  tests/commands/pool/commands_pool_refresh_test.py
  tests/commands/pool/commands_pool_start_test.py
  tests/commands/pool/commands_pool_stop_test.py
  tests/commands/pool/commands_pool_undefine_test.py
  tests/commands/pool/commands_pool_xml_test.py
  tests/commands/pool/commands_pool_xslt_test.py
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_info_test.py
  tests/commands/volume/commands_volume_list_test.py
  tests/commands/volume/commands_volume_upload_test.py
  tests/commands/volume/commands_volume_wipe_test.py
  tests/commands/volume/commands_volume_xml_test.py
  tests/conftest.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
  tests/util/util_tables_test.py
Labels: area/tests, area/cli, area/libvirt, area/util, component/domain, component/storage/pool, component/storage/volume

Block redefining volume config.
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Fix issues exposed by tests.
  fvirt/commands/_base/new.py
  fvirt/libvirt/runner.py
  tests/conftest.py
Labels: area/tests, area/cli, area/libvirt

Make test object names unique to the worker process.
  pyproject.toml
  tests/conftest.py
Labels: area/tests, infra/packaging

Fix typing for EntityAccess.
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity_access.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
Labels: area/libvirt, component/domain, component/storage/pool, component/storage/volume

Add additional planned tests.
  tests/commands/domain/commands_domain_autostart_test.py
  tests/commands/domain/commands_domain_create_test.py
  tests/commands/domain/commands_domain_define_test.py
  tests/commands/domain/commands_domain_reset_test.py
  tests/commands/domain/commands_domain_save_test.py
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/commands/domain/commands_domain_start_test.py
  tests/commands/domain/commands_domain_stop_test.py
  tests/commands/domain/commands_domain_undefine_test.py
  tests/commands/domain/commands_domain_xslt_test.py
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/pool/commands_pool_create_test.py
  tests/commands/pool/commands_pool_define_test.py
  tests/commands/pool/commands_pool_delete_test.py
  tests/commands/pool/commands_pool_refresh_test.py
  tests/commands/pool/commands_pool_start_test.py
  tests/commands/pool/commands_pool_stop_test.py
  tests/commands/pool/commands_pool_undefine_test.py
  tests/commands/pool/commands_pool_xslt_test.py
  tests/commands/volume/commands_volume_define_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_wipe_test.py
Labels: area/tests, area/cli, component/domain, component/storage/pool, component/storage/volume

Add tests for volume define and volume delete commands.
  fvirt/commands/_base/new.py
  tests/commands/volume/commands_volume_define_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/conftest.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/volume

Add test cases for fvirt.util.match code.
  fvirt/libvirt/entity_access.py
  fvirt/util/match.py
  tests/util/util_match_test.py
Labels: area/tests, area/libvirt, area/util

Fix typo in lifecycle commands.
  fvirt/commands/_base/lifecycle.py
Labels: area/cli

Fix typo in lifecycle commands.
  fvirt/commands/_base/lifecycle.py
Labels: area/cli

Add test cases for fvirt.util.match code.
  fvirt/libvirt/entity_access.py
  fvirt/util/match.py
  tests/util/util_match_test.py
Labels: area/tests, area/libvirt, area/util

Fix bug in lifecycle command reporting.
  fvirt/commands/_base/lifecycle.py
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_wipe_test.py
Labels: area/tests, area/cli, component/storage/pool, component/storage/volume

Fix bug in lifecycle command reporting.
  fvirt/commands/_base/lifecycle.py
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_wipe_test.py
Labels: area/tests, area/cli, component/storage/pool, component/storage/volume

Unify command result summary generation.
  fvirt/commands/_base/autostart.py
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/new.py
  fvirt/commands/_base/state.py
  fvirt/commands/_base/xslt.py
  fvirt/util/report.py
  fvirt/util/units.py
  tests/util/util_report_test.py
Labels: area/tests, area/cli, area/util

Unify command result summary generation.
  fvirt/commands/_base/autostart.py
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/new.py
  fvirt/commands/_base/state.py
  fvirt/commands/_base/xslt.py
  fvirt/util/report.py
  fvirt/util/units.py
  tests/util/util_report_test.py
Labels: area/tests, area/cli, area/util

SHift review jobs to run on merges to main branch also.
  .github/workflows/review.yml
Labels: infra/ci

Clean up handling of exit codes.
  fvirt/commands/_base/exitcode.py
  fvirt/commands/_base/filetransfer.py
  fvirt/commands/_base/help.py
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/list.py
  fvirt/commands/_base/match.py
  fvirt/commands/_base/new.py
  fvirt/commands/domain/console.py
  tests/commands/pool/commands_pool_delete_test.py
Labels: area/tests, area/cli, component/domain, component/storage/pool

Clean up handling of exit codes.
  fvirt/commands/_base/exitcode.py
  fvirt/commands/_base/filetransfer.py
  fvirt/commands/_base/help.py
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/list.py
  fvirt/commands/_base/match.py
  fvirt/commands/_base/new.py
  fvirt/commands/domain/console.py
  tests/commands/pool/commands_pool_delete_test.py
Labels: area/tests, area/cli, component/domain, component/storage/pool

Enable warnings during test runs.
  tests/conftest.py
Labels: area/tests

Fix up autostart commands and test pool autostart fully.
  fvirt/commands/_base/autostart.py
  tests/commands/pool/commands_pool_autostart_test.py
Labels: area/tests, area/cli, component/storage/pool

Add pool create command tests and fix issues they expose.
  fvirt/commands/_base/new.py
  tests/commands/pool/commands_pool_create_test.py
Labels: area/tests, area/cli, component/storage/pool

Auto-skip tests which require libvirtd if it’s not found.
  .github/workflows/review.yml
  pyproject.toml
  tests/commands/pool/commands_pool_autostart_test.py
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/pool/commands_pool_create_test.py
  tests/commands/pool/commands_pool_define_test.py
  tests/commands/pool/commands_pool_list_test.py
  tests/commands/volume/commands_volume_define_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_info_test.py
  tests/commands/volume/commands_volume_list_test.py
  tests/commands/volume/commands_volume_upload_test.py
  tests/commands/volume/commands_volume_wipe_test.py
  tests/commands/volume/commands_volume_xml_test.py
  tests/conftest.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/pool, component/storage/volume, infra/ci, infra/packaging
