Repository Ferroin/fvirt, changes with the labels that .github/labeler.yml gives for each.
All labels: area/common, documentation, infra, infra/ci, infra/packaging

.github/labeler.yml:

---
# Configuration for the pr-labeler workflow.

area/common:
  - ulvdm/__init__.py
  - ulvdm/common.py

documentation:
  - LICENSE.md
  - README.md

infra:
  - .gigignore
  - .gitmodules
  - .github/labeler.yml
  - .github/labels.yml

infra/ci:
  - .flake8
  - .github/dependabot.yml
  - .github/scripts/check-labels.py
  - .github/workflows/**
  - .mdl-style.rb

infra/packaging:
  - poetry.lock
  - pyproject.toml

Add tests for fvirt.version.
  fvirt/version.py
  tests/version_test.py
Labels: none

Fix broken tests.
  fvirt/libvirt/uri.py
  tests/libvirt/libvirt_uri_test.py
  tests/version_test.py
Labels: none

Add pytest-xdist and pytest-cov plugins.
  poetry.lock
  pyproject.toml
Labels: infra/packaging

Add further testing and fix issues it surfaces.
  fvirt/commands/_base/match.py
  fvirt/libvirt/__init__.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/entity_access.py
  fvirt/libvirt/exceptions.py
  fvirt/libvirt/hypervisor.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/uri.py
  fvirt/util/match.py
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/commands/__init__.py
  tests/commands/commands_version_test.py
  tests/commands/domain/__init__.py
  tests/commands/domain/commands_domain_test.py
  tests/commands/host/__init__.py
  tests/commands/host/commands_host_test.py
  tests/commands/host/commands_host_uri_test.py
  tests/commands/host/commands_host_version_test.py
  tests/commands/pool/__init__.py
  tests/commands/pool/commands_pool_test.py
  tests/commands/volume/__init__.py
  tests/commands/volume/commands_volume_test.py
  tests/conftest.py
  tests/libvirt/__init__.py
  tests/libvirt/conftest.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_hypervisor_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_uri_test.py
  tests/libvirt/shared.py
  tests/util/__init__.py
  tests/util/util_dummy_pool_test.py
  tests/util/util_units_test.py
  tests/version_test.py
Labels: infra/packaging

Add testing for fvirt.libvirt.volume.
  fvirt/libvirt/entity.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  tests/libvirt/conftest.py
  tests/libvirt/libvirt_volume_test.py
Labels: none

Assorted cleanup.
  fvirt/cli.py
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/xslt.py
  fvirt/commands/volume/delete.py
  fvirt/libvirt/hypervisor.py
  fvirt/libvirt/runner.py
Labels: none

Added tests to check columns for list commands.
  fvirt/commands/pool/list.py
  tests/commands/domain/commands_domain_list_test.py
  tests/commands/pool/commands_pool_list_test.py
  tests/commands/shared.py
  tests/commands/volume/commands_volume_list_test.py
  tests/conftest.py
  tests/libvirt/conftest.py
Labels: none

Overhaul handling of descriptors for fvirt.libvirt objects.
  fvirt/commands/volume/list.py
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  tests/libvirt/shared.py
Labels: none

Add command to build storage pools.
  fvirt/commands/pool/__init__.py
  fvirt/commands/pool/build.py
Labels: none

Add command to wipe storage volumes.
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/pool/build.py
  fvirt/commands/volume/wipe.py
Labels: none

CI updates.
  .github/scripts/check-labels.py
  .github/workflows/label-sync.yml
  .github/workflows/review.yml
  poetry.lock
  pyproject.toml
Labels: infra/ci, infra/packaging

Overhaul fvirt.libvirt.uri handling of Driver properties.
  fvirt/libvirt/__init__.py
  fvirt/libvirt/uri.py
  tests/libvirt/libvirt_uri_test.py
Labels: none

Add libvirt tooling to CI.
  .github/workflows/review.yml
Labels: infra/ci

Assorted fixes.
  .github/workflows/review.yml
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/list.py
  tests/conftest.py
Labels: infra/ci

Further fixes.
  .github/workflows/review.yml
Labels: infra/ci

Add libvirt tooling to CI.
  .github/workflows/review.yml
Labels: infra/ci

Further fixes.
  .github/workflows/review.yml
Labels: infra/ci

Assorted fixes.
  .github/workflows/review.yml
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/list.py
  tests/conftest.py
Labels: infra/ci
