Repository Ferroin/fvirt, changes with the labels that .github/labeler.yml gives for each.
All labels: area/common, area/tests, area/cli, area/libvirt, area/util, component/host, component/domain, component/storage/pool, component/storage/volume, documentation, infra, infra/ci, infra/packaging

.github/labeler.yml:

---
# Configuration for the pr-labeler workflow.

area/common:
  - fvirt/__init__.py
  - fvirt/version.py
  - tests/version_test.py

area/tests:
  - tests/**

area/cli:
  - fvirt/cli.py
  - fvirt/commands/**
  - tests/cli_test.py
  - tests/commands/**

area/libvirt:
  - fvirt/libvirt/**
  - tests/libvirt/**

area/util:
  - fvirt/util/**
  - tests/util/**

component/host:
  - fvirt/commands/host/**
  - fvirt/libvirt/hypervisor.py
  - tests/commands/host/**
  - tests/libvirt/libvirt_hypervisor_test.py

component/domain:
  - fvirt/commands/domain/**
  - fvirt/libvirt/domain.py
  - tests/commands/domain/**
  - tests/libvirt/libvirt_domain_test.py

component/storage/pool:
  - fvirt/commands/pool/**
  - fvirt/libvirt/storage_pool.py
  - tests/commands/pool/**
  - tests/libvirt/libvirt_storage_pool_test.py

component/storage/volume:
  - fvirt/commands/volume/**
  - fvirt/libvirt/volume.py
  - tests/commands/volume/**
  - tests/libvirt/libvirt_volume_test.py

documentation:
  - LICENSE.md
  - README.md

infra:
  - .gigignore
  - .gitmodules
  - .github/labeler.yml
  - .github/labels.yml

infra/ci:
  - .flake8
  - .github/dependabot.yml
  - .github/scripts/check-labels.py
  - .github/workflows/**
  - .mdl-style.rb

infra/packaging:
  - poetry.lock
  - pyproject.toml

Increase test timeout to improve reliability in CI.
  pyproject.toml
Labels: infra/packaging

Fix deps for GHA workflows.
  .github/workflows/review.yml
Labels: infra/ci

Increase test timeout to improve reliability in CI.
  pyproject.toml
Labels: infra/packaging

Further testing and cleanup, plus a few additional features.
  fvirt/libvirt/data.py
  fvirt/libvirt/models/domain.py
  fvirt/libvirt/models/storage_pool.py
  fvirt/libvirt/models/volume.py
  poetry.lock
  pyproject.toml
  tests/libvirt/models/libvirt_models_domain_test.py
  tests/libvirt/models/libvirt_models_storage_pool_test.py
  tests/libvirt/models/libvirt_models_volume_test.py
Labels: area/tests, area/libvirt, infra/packaging

Add missing types stubs for psutil.
  poetry.lock
  pyproject.toml
Labels: infra/packaging

Switch pool and volume templating to use Pydantic models.
  fvirt/libvirt/domain.py
  fvirt/libvirt/models/storage_pool.py
  fvirt/libvirt/models/volume.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  fvirt/templates/pool.xml
  fvirt/templates/volume.xml
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Add basic templating support.
  fvirt/libvirt/entity.py
  fvirt/libvirt/exceptions.py
  fvirt/util/templates.py
  tests/util/util_templates_test.py
Labels: area/tests, area/libvirt, area/util

Move domain type into DomainInfo model.
  fvirt/libvirt/domain.py
  fvirt/libvirt/models/domain.py
  fvirt/templates/domain.xml
Labels: area/libvirt, component/domain

Switch to literals instead of patterns for models when possible.
  fvirt/libvirt/models/domain.py
  fvirt/libvirt/models/storage_pool.py
  fvirt/libvirt/models/volume.py
  fvirt/templates/domain/_macros.xml
  tests/libvirt/models/libvirt_models_storage_pool_test.py
Labels: area/tests, area/libvirt

Switch to more correct types for addresses in domain models.
  fvirt/libvirt/models/domain.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
Labels: area/tests, area/libvirt, infra/packaging

Add basic templating for domain config.
  fvirt/libvirt/domain.py
  fvirt/libvirt/models/domain.py
  fvirt/libvirt/storage_pool.py
  fvirt/templates/domain/_base.xml
  fvirt/templates/domain/_base_qemu.xml
  fvirt/templates/domain/_container.xml
  fvirt/templates/domain/_macros.xml
  fvirt/templates/domain/_vm.xml
  fvirt/templates/domain/hvf.xml
  fvirt/templates/domain/kvm.xml
  fvirt/templates/domain/lxc.xml
  fvirt/templates/domain/openvz.xml
  fvirt/templates/domain/qemu.xml
  fvirt/templates/domain/test.xml
  fvirt/templates/domain/xen.xml
  poetry.lock
  pyproject.toml
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool, infra/packaging

Add storage pool and storage volume templates.
  fvirt/commands/pool/info.py
  fvirt/commands/pool/list.py
  fvirt/commands/volume/info.py
  fvirt/commands/volume/list.py
  fvirt/libvirt/data.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  fvirt/templates/pool.xml
  fvirt/templates/volume.xml
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/conftest.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/cli, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Add further test cases for domain models.
  fvirt/libvirt/models/domain.py
  fvirt/templates/domain/_macros.xml
  tests/libvirt/models/libvirt_models_domain_test.py
Labels: area/tests, area/libvirt

Move templates module to templates directory.
  fvirt/libvirt/entity.py
  fvirt/templates/__init__.py
  tests/templates_test.py
Labels: area/tests, area/libvirt

Preliminary dependency handling for templating functionality.
  .github/workflows/review.yml
  poetry.lock
  pyproject.toml
Labels: infra/ci, infra/packaging

Further tests for domain models.
  fvirt/libvirt/models/domain.py
  tests/libvirt/models/libvirt_models_domain_test.py
Labels: area/tests, area/libvirt

Assorted template fixes.
  fvirt/libvirt/entity.py
  fvirt/libvirt/models/domain.py
  fvirt/templates/__init__.py
  fvirt/templates/domain.xml
  fvirt/templates/domain/_base.xml
  fvirt/templates/domain/_base_qemu.xml
  fvirt/templates/domain/_container.xml
  fvirt/templates/domain/_macros.xml
  fvirt/templates/domain/_vm.xml
  fvirt/templates/domain/hvf.xml
  fvirt/templates/domain/kvm.xml
  fvirt/templates/domain/lxc.xml
  fvirt/templates/domain/openvz.xml
  fvirt/templates/domain/qemu.xml
  fvirt/templates/domain/test.xml
  fvirt/templates/domain/vz.xml
  fvirt/templates/domain/xen.xml
  tests/conftest.py
  tests/libvirt/libvirt_domain_test.py
  tests/templates_test.py
Labels: area/tests, area/libvirt, component/domain

Support mappings for new_config methods.
  fvirt/libvirt/domain.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Support mappings for new_config methods.
  fvirt/libvirt/domain.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Convert test cases for fvirt.libvirt.models to YAML
  fvirt/libvirt/models/domain.py
  tests/data/cases/libvirt_models_domain.yaml
  tests/data/cases/libvirt_models_storage_pool.yaml
  tests/data/cases/libvirt_models_volume.yaml
  tests/libvirt/models/__init__.py
  tests/libvirt/models/libvirt_models_domain_test.py
  tests/libvirt/models/libvirt_models_storage_pool_test.py
  tests/libvirt/models/libvirt_models_volume_test.py
  tests/shared.py
Labels: area/tests, area/libvirt

Convert test cases for fvirt.libvirt.models to YAML
  fvirt/libvirt/models/domain.py
  tests/data/cases/libvirt_models_domain.yaml
  tests/data/cases/libvirt_models_storage_pool.yaml
  tests/data/cases/libvirt_models_volume.yaml
  tests/libvirt/models/__init__.py
  tests/libvirt/models/libvirt_models_domain_test.py
  tests/libvirt/models/libvirt_models_storage_pool_test.py
  tests/libvirt/models/libvirt_models_volume_test.py
  tests/shared.py
Labels: area/tests, area/libvirt
