Repository Ferroin/fvirt, changes with the labels that .github/labeler.yml gives for each.
All labels: area/common, area/tests, area/cli, area/libvirt, area/util, component/host, component/domain, component/storage/pool, component/storage/volume, documentation, infra, infra/ci, infra/packaging

.github/labeler.yml:

---
# Configuration for the pr-labeler workflow.

area/common:
  - fvirt/__init__.py
  - fvirt/version.py
  - tests/version_test.py

area/tests:
  - tests/**

area/cli:
  - fvirt/cli.py
  - fvirt/commands/**
  - tests/cli_test.py
  - tests/commands/**

area/libvirt:
  - fvirt/libvirt/**
  - tests/libvirt/**

area/util:
  - fvirt/util/**
  - tests/util/**

component/host:
  - fvirt/commands/host/**
  - fvirt/libvirt/hypervisor.py
  - tests/commands/host/**
  - tests/libvirt/libvirt_hypervisor_test.py

component/domain:
  - fvirt/commands/domain/**
  - fvirt/libvirt/domain.py
  - tests/commands/domain/**
  - tests/libvirt/libvirt_domain_test.py

component/storage/pool:
  - fvirt/commands/pool/**
  - fvirt/libvirt/storage_pool.py
  - tests/commands/pool/**
  - tests/libvirt/libvirt_storage_pool_test.py

component/storage/volume:
  - fvirt/commands/volume/**
  - fvirt/libvirt/volume.py
  - tests/commands/volume/**
  - tests/libvirt/libvirt_volume_test.py

documentation:
  - LICENSE.md
  - README.md

infra:
  - .gigignore
  - .gitmodules
  - .github/labeler.yml
  - .github/labels.yml

infra/ci:
  - .flake8
  - .github/dependabot.yml
  - .github/scripts/check-labels.py
  - .github/workflows/**
  - .mdl-style.rb

infra/packaging:
  - poetry.lock
  - pyproject.toml

Add top-level documentation for testing.
  pyproject.toml
  tests/README.md
Labels: area/tests, infra/packaging

Fix flake8 warnings.
  tests/commands/pool/commands_pool_autostart_test.py
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/pool/commands_pool_create_test.py
  tests/commands/pool/commands_pool_define_test.py
  tests/commands/pool/commands_pool_list_test.py
  tests/commands/volume/commands_volume_define_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_info_test.py
  tests/commands/volume/commands_volume_list_test.py
  tests/commands/volume/commands_volume_xml_test.py
Labels: area/tests, area/cli, component/storage/pool, component/storage/volume

Add test for bulk pool delete command.
  tests/commands/pool/commands_pool_delete_test.py
Labels: area/tests, area/cli, component/storage/pool

add test fixtures for creating sets of pools or volumes.
  tests/commands/pool/commands_pool_autostart_test.py
  tests/commands/pool/commands_pool_delete_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_wipe_test.py
  tests/conftest.py
Labels: area/tests, area/cli, component/storage/pool, component/storage/volume

More pool command tests.
  tests/commands/pool/commands_pool_refresh_test.py
  tests/commands/pool/commands_pool_start_test.py
  tests/commands/pool/commands_pool_stop_test.py
Labels: area/tests, area/cli, component/storage/pool

Switch name prefix handling to a fixture.
  tests/commands/pool/commands_pool_autostart_test.py
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/pool/commands_pool_delete_test.py
  tests/commands/pool/commands_pool_refresh_test.py
  tests/commands/pool/commands_pool_start_test.py
  tests/commands/pool/commands_pool_stop_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_wipe_test.py
  tests/conftest.py
Labels: area/tests, area/cli, component/storage/pool, component/storage/volume

Add more tests and fix issues they expose.
  fvirt/commands/_base/xslt.py
  tests/commands/domain/commands_domain_autostart_test.py
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/commands/domain/commands_domain_start_test.py
  tests/commands/domain/commands_domain_stop_test.py
  tests/commands/domain/commands_domain_undefine_test.py
  tests/commands/domain/commands_domain_xslt_test.py
  tests/commands/pool/commands_pool_undefine_test.py
  tests/commands/pool/commands_pool_xslt_test.py
  tests/conftest.py
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/cli, area/libvirt, component/domain, component/storage/pool

Split virtqemud skip check from qemu skip check.
  tests/conftest.py
Labels: area/tests

Fix docs complaints.
  tests/README.md
Labels: area/tests

Fix virtqemud checking to also check for libvirtd.
  tests/conftest.py
Labels: area/tests

Fix flake8 warnings.
  tests/commands/pool/commands_pool_autostart_test.py
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/pool/commands_pool_create_test.py
  tests/commands/pool/commands_pool_define_test.py
  tests/commands/pool/commands_pool_list_test.py
  tests/commands/volume/commands_volume_define_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_info_test.py
  tests/commands/volume/commands_volume_list_test.py
  tests/commands/volume/commands_volume_xml_test.py
Labels: area/tests, area/cli, component/storage/pool, component/storage/volume

Split virtqemud skip check from qemu skip check.
  tests/conftest.py
Labels: area/tests

Enable warnings during test runs.
  tests/conftest.py
Labels: area/tests

Switch name prefix handling to a fixture.
  tests/commands/pool/commands_pool_autostart_test.py
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/pool/commands_pool_delete_test.py
  tests/commands/pool/commands_pool_refresh_test.py
  tests/commands/pool/commands_pool_start_test.py
  tests/commands/pool/commands_pool_stop_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_wipe_test.py
  tests/conftest.py
Labels: area/tests, area/cli, component/storage/pool, component/storage/volume

Auto-skip tests which require libvirtd if it’s not found.
  .github/workflows/review.yml
  pyproject.toml
  tests/commands/pool/commands_pool_autostart_test.py
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/pool/commands_pool_create_test.py
  tests/commands/pool/commands_pool_define_test.py
  tests/commands/pool/commands_pool_list_test.py
  tests/commands/volume/commands_volume_define_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_info_test.py
  tests/commands/volume/commands_volume_list_test.py
  tests/commands/volume/commands_volume_upload_test.py
  tests/commands/volume/commands_volume_wipe_test.py
  tests/commands/volume/commands_volume_xml_test.py
  tests/conftest.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/pool, component/storage/volume, infra/ci, infra/packaging

add test fixtures for creating sets of pools or volumes.
  tests/commands/pool/commands_pool_autostart_test.py
  tests/commands/pool/commands_pool_delete_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_wipe_test.py
  tests/conftest.py
Labels: area/tests, area/cli, component/storage/pool, component/storage/volume

Add test for bulk pool delete command.
  tests/commands/pool/commands_pool_delete_test.py
Labels: area/tests, area/cli, component/storage/pool

Fix docs complaints.
  tests/README.md
Labels: area/tests

Add pool create command tests and fix issues they expose.
  fvirt/commands/_base/new.py
  tests/commands/pool/commands_pool_create_test.py
Labels: area/tests, area/cli, component/storage/pool

Add more tests and fix issues they expose.
  fvirt/commands/_base/xslt.py
  tests/commands/domain/commands_domain_autostart_test.py
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/commands/domain/commands_domain_start_test.py
  tests/commands/domain/commands_domain_stop_test.py
  tests/commands/domain/commands_domain_undefine_test.py
  tests/commands/domain/commands_domain_xslt_test.py
  tests/commands/pool/commands_pool_undefine_test.py
  tests/commands/pool/commands_pool_xslt_test.py
  tests/conftest.py
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/cli, area/libvirt, component/domain, component/storage/pool

Fix virtqemud checking to also check for libvirtd.
  tests/conftest.py
Labels: area/tests

Fix up autostart commands and test pool autostart fully.
  fvirt/commands/_base/autostart.py
  tests/commands/pool/commands_pool_autostart_test.py
Labels: area/tests, area/cli, component/storage/pool

Add top-level documentation for testing.
  pyproject.toml
  tests/README.md
Labels: area/tests, infra/packaging

More pool command tests.
  tests/commands/pool/commands_pool_refresh_test.py
  tests/commands/pool/commands_pool_start_test.py
  tests/commands/pool/commands_pool_stop_test.py
Labels: area/tests, area/cli, component/storage/pool

Preliminary work to support testing using live domains.
  poetry.lock
  pyproject.toml
  tests/conftest.py
Labels: area/tests, infra/packaging

Add Git LFS attributes.
  .gitattributes
Labels: none

Add bootable kernel image for testing in x86_64 VMs.
  tests/data/test-kernels/x86_64.img
Labels: area/tests

Switch to using a bootable kernel image for live domain testing.
  tests/conftest.py
Labels: area/tests

Drop embedded driver handling.
  tests/conftest.py
Labels: area/tests

Parallelize tests by default.
  pyproject.toml
  tests/README.md
Labels: area/tests, infra/packaging

Expand domain shutdown testing and fix issues it exposes.
  fvirt/libvirt/domain.py
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/libvirt, component/domain

Add test for domain creation.
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/libvirt, component/domain

Assorted fixes for domain console handling.
  fvirt/libvirt/domain.py
  fvirt/libvirt/stream.py
Labels: area/libvirt, component/domain

Add enhanced domain shutdown tests, and domain console test.
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/libvirt, component/domain

Don’t mark volume tests as slow.
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_upload_test.py
  tests/commands/volume/commands_volume_wipe_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/volume

Add test cases that require live domain testing.
  fvirt/commands/domain/shutdown.py
  tests/commands/domain/commands_domain_console_test.py
  tests/commands/domain/commands_domain_create_test.py
  tests/commands/domain/commands_domain_define_test.py
  tests/commands/domain/commands_domain_reset_test.py
  tests/commands/domain/commands_domain_save_test.py
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/conftest.py
Labels: area/tests, area/cli, component/domain

Redesign live domain image handling.
  tests/README.md
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/conftest.py
  tests/data/images/README.md
  tests/data/images/x86_64/buildroot-commit
  tests/data/images/x86_64/buildroot-config
  tests/data/images/x86_64/busybox-config
  tests/data/images/x86_64/kernel-config
  tests/data/test-kernels/x86_64.img
  tests/libvirt/libvirt_domain_test.py
Labels: area/tests, area/cli, area/libvirt, component/domain

Add AArch64 test images.
  tests/conftest.py
  tests/data/images/aarch64/buildroot-commit
  tests/data/images/aarch64/buildroot-config
  tests/data/images/aarch64/busybox-config
  tests/data/images/aarch64/kernel-config
Labels: area/tests

Clean up dependencies.
  poetry.lock
  pyproject.toml
Labels: infra/packaging

Resolve CI issues.
  .github/workflows/review.yml
  tests/README.md
  tests/conftest.py
  tests/data/images/README.md
  tests/data/images/aarch64/buildroot-config
  tests/data/images/aarch64/busybox-config
  tests/data/images/x86_64/buildroot-config
  tests/data/images/x86_64/busybox-config
Labels: area/tests, infra/ci
