Repository Ferroin/fvirt, changes with the labels that .github/labeler.yml gives for each.
All labels: area/common, area/tests, area/cli, area/libvirt, area/util, component/host, component/domain, component/storage/pool, component/storage/volume, documentation, infra, infra/ci, infra/packaging

.github/labeler.yml:

---
# Configuration for the pr-labeler workflow.

area/common:
  - fvirt/__init__.py
  - fvirt/version.py
  - tests/version_test.py

area/tests:
  - tests/**

area/cli:
  - fvirt/cli.py
  - fvirt/commands/**
  - tests/cli_test.py
  - tests/commands/**

area/libvirt:
  - fvirt/libvirt/**
  - tests/libvirt/**

area/util:
  - fvirt/util/**
  - tests/util/**

component/host:
  - fvirt/commands/host/**
  - fvirt/libvirt/hypervisor.py
  - tests/commands/host/**
  - tests/libvirt/libvirt_hypervisor_test.py

component/domain:
  - fvirt/commands/domain/**
  - fvirt/libvirt/domain.py
  - tests/commands/domain/**
  - tests/libvirt/libvirt_domain_test.py

component/storage/pool:
  - fvirt/commands/pool/**
  - fvirt/libvirt/storage_pool.py
  - tests/commands/pool/**
  - tests/libvirt/libvirt_storage_pool_test.py

component/storage/volume:
  - fvirt/commands/volume/**
  - fvirt/libvirt/volume.py
  - tests/commands/volume/**
  - tests/libvirt/libvirt_volume_test.py

documentation:
  - LICENSE.md
  - README.md

infra:
  - .gigignore
  - .gitmodules
  - .github/labeler.yml
  - .github/labels.yml

infra/ci:
  - .flake8
  - .github/dependabot.yml
  - .github/scripts/check-labels.py
  - .github/workflows/**
  - .mdl-style.rb

infra/packaging:
  - poetry.lock
  - pyproject.toml

Use a consistent prefix for unique string generation.
  tests/conftest.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Fixes for issues exposed by tests.
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/volume.py
Labels: area/libvirt, component/storage/volume

Add test to check fvirt.libvirt.volume.Volume.wipe().
  fvirt/libvirt/volume.py
  tests/conftest.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Refactor CLI invocation in tests.
  tests/commands/commands_version_test.py
  tests/commands/domain/commands_domain_info_test.py
  tests/commands/domain/commands_domain_list_test.py
  tests/commands/domain/commands_domain_test.py
  tests/commands/domain/commands_domain_xml_test.py
  tests/commands/host/commands_host_info_test.py
  tests/commands/host/commands_host_test.py
  tests/commands/host/commands_host_uri_test.py
  tests/commands/host/commands_host_version_test.py
  tests/commands/pool/commands_pool_info_test.py
  tests/commands/pool/commands_pool_list_test.py
  tests/commands/pool/commands_pool_test.py
  tests/commands/pool/commands_pool_xml_test.py
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_info_test.py
  tests/commands/volume/commands_volume_list_test.py
  tests/commands/volume/commands_volume_test.py
  tests/commands/volume/commands_volume_upload_test.py
  tests/commands/volume/commands_volume_xml_test.py
  tests/conftest.py
  tests/util/util_tables_test.py
Labels: area/tests, area/cli, area/util, component/host, component/domain, component/storage/pool, component/storage/volume

Add tests for list commands.
  tests/commands/domain/commands_domain_list_test.py
  tests/commands/pool/commands_pool_list_test.py
  tests/commands/shared.py
  tests/commands/volume/commands_volume_list_test.py
Labels: area/tests, area/cli, component/domain, component/storage/pool, component/storage/volume

Pytest configuration tweaks.
  pyproject.toml
Labels: infra/packaging

Add testing for volume resize and fix errors it exposes.
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Add tests for volume upload and volume download commands.
  fvirt/commands/volume/upload.py
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_upload_test.py
Labels: area/tests, area/cli, component/storage/volume

Add proper test for host info command.
  tests/commands/host/commands_host_info_test.py
Labels: area/tests, area/cli, component/host

Rework entity init process and add equality checks for Entity and Hypervisor.
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/hypervisor.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_hypervisor_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/host, component/domain, component/storage/pool, component/storage/volume

Merge ConfigurableEntity into the base Entity class.
  fvirt/commands/_base/xml.py
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/entity_access.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  fvirt/util/match.py
  tests/libvirt/shared.py
Labels: area/tests, area/cli, area/libvirt, area/util, component/domain, component/storage/pool, component/storage/volume

Shift to PEP 8 naming conventions.
  fvirt/commands/_base/objects.py
  fvirt/commands/_base/xml.py
  fvirt/commands/_base/xslt.py
  fvirt/commands/domain/info.py
  fvirt/commands/domain/list.py
  fvirt/commands/domain/save.py
  fvirt/commands/host/version.py
  fvirt/commands/pool/info.py
  fvirt/commands/pool/list.py
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/hypervisor.py
  fvirt/libvirt/storage_pool.py
  tests/conftest.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_hypervisor_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/shared.py
Labels: area/tests, area/cli, area/libvirt, component/host, component/domain, component/storage/pool

Add split live config for configurable entities.
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
Labels: area/libvirt, component/domain, component/storage/pool, component/storage/volume

Rework entity init process and add equality checks for Entity and Hypervisor.
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/hypervisor.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_hypervisor_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/host, component/domain, component/storage/pool, component/storage/volume

Add split live config for configurable entities.
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
Labels: area/libvirt, component/domain, component/storage/pool, component/storage/volume

Merge ConfigurableEntity into the base Entity class.
  fvirt/commands/_base/xml.py
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/entity_access.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  fvirt/util/match.py
  tests/libvirt/shared.py
Labels: area/tests, area/cli, area/libvirt, area/util, component/domain, component/storage/pool, component/storage/volume

Shift to PEP 8 naming conventions.
  fvirt/commands/_base/objects.py
  fvirt/commands/_base/xml.py
  fvirt/commands/_base/xslt.py
  fvirt/commands/domain/info.py
  fvirt/commands/domain/list.py
  fvirt/commands/domain/save.py
  fvirt/commands/host/version.py
  fvirt/commands/pool/info.py
  fvirt/commands/pool/list.py
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/hypervisor.py
  fvirt/libvirt/storage_pool.py
  tests/conftest.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_hypervisor_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/shared.py
Labels: area/tests, area/cli, area/libvirt, component/host, component/domain, component/storage/pool

Add tests to check config, config_raw, and config_live properties.
  fvirt/libvirt/entity.py
  fvirt/libvirt/storage_pool.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
  tests/shared.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Fix XSLT tests.
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/shared.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool

Block redefining volume config.
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Switch to using a factory fixture for XSLT documents.
  tests/conftest.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
  tests/libvirt/shared.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Add pool xslt command test.
  tests/commands/pool/commands_pool_xslt_test.py
Labels: area/tests, area/cli, component/storage/pool

Use unique paths for pool xslt tests.
  tests/commands/pool/commands_pool_xslt_test.py
  tests/libvirt/libvirt_storage_pool_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/pool

Add test for pool autostart command.
  tests/commands/pool/commands_pool_autostart_test.py
Labels: area/tests, area/cli, component/storage/pool

Add additional planned tests.
  tests/commands/domain/commands_domain_autostart_test.py
  tests/commands/domain/commands_domain_create_test.py
  tests/commands/domain/commands_domain_define_test.py
  tests/commands/domain/commands_domain_reset_test.py
  tests/commands/domain/commands_domain_save_test.py
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/commands/domain/commands_domain_start_test.py
  tests/commands/domain/commands_domain_stop_test.py
  tests/commands/domain/commands_domain_undefine_test.py
  tests/commands/domain/commands_domain_xslt_test.py
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/pool/commands_pool_create_test.py
  tests/commands/pool/commands_pool_define_test.py
  tests/commands/pool/commands_pool_delete_test.py
  tests/commands/pool/commands_pool_refresh_test.py
  tests/commands/pool/commands_pool_start_test.py
  tests/commands/pool/commands_pool_stop_test.py
  tests/commands/pool/commands_pool_undefine_test.py
  tests/commands/pool/commands_pool_xslt_test.py
  tests/commands/volume/commands_volume_define_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_wipe_test.py
Labels: area/tests, area/cli, component/domain, component/storage/pool, component/storage/volume

Add more pool command tests.
  tests/commands/pool/commands_pool_delete_test.py
  tests/commands/pool/commands_pool_refresh_test.py
  tests/commands/pool/commands_pool_start_test.py
  tests/commands/pool/commands_pool_stop_test.py
  tests/commands/pool/commands_pool_undefine_test.py
  tests/conftest.py
Labels: area/tests, area/cli, component/storage/pool

Add pytest-flakefinder plugin.
  poetry.lock
  pyproject.toml
Labels: infra/packaging

Fix buggy handling of qemu:///embed URIs.
  fvirt/libvirt/uri.py
  tests/libvirt/libvirt_uri_test.py
Labels: area/tests, area/libvirt

Tweak fixtures to make tests a bit simpler.
  tests/cli_test.py
  tests/commands/domain/commands_domain_info_test.py
  tests/commands/domain/commands_domain_list_test.py
  tests/commands/pool/commands_pool_autostart_test.py
  tests/commands/pool/commands_pool_delete_test.py
  tests/commands/pool/commands_pool_info_test.py
  tests/commands/pool/commands_pool_list_test.py
  tests/commands/pool/commands_pool_refresh_test.py
  tests/commands/pool/commands_pool_start_test.py
  tests/commands/pool/commands_pool_stop_test.py
  tests/commands/pool/commands_pool_undefine_test.py
  tests/commands/pool/commands_pool_xml_test.py
  tests/commands/pool/commands_pool_xslt_test.py
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_info_test.py
  tests/commands/volume/commands_volume_list_test.py
  tests/commands/volume/commands_volume_upload_test.py
  tests/commands/volume/commands_volume_wipe_test.py
  tests/commands/volume/commands_volume_xml_test.py
  tests/conftest.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
  tests/util/util_tables_test.py
Labels: area/tests, area/cli, area/libvirt, area/util, component/domain, component/storage/pool, component/storage/volume

Switch sparse upload/download to use skipif instead of xfail.
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_upload_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/volume

Add test for pool build command.
  tests/commands/pool/commands_pool_build_test.py
  tests/libvirt/libvirt_storage_pool_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/pool

Add tests for volume define and volume delete commands.
  fvirt/commands/_base/new.py
  tests/commands/volume/commands_volume_define_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/conftest.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/volume

Make test object names unique to the worker process.
  pyproject.toml
  tests/conftest.py
Labels: area/tests, infra/packaging

Fix issues exposed by tests.
  fvirt/commands/_base/new.py
  fvirt/libvirt/runner.py
  tests/conftest.py
Labels: area/tests, area/cli, area/libvirt

Fix typing for EntityAccess.
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity_access.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
Labels: area/libvirt, component/domain, component/storage/pool, component/storage/volume

Assorted fixes for tests.
  tests/commands/volume/commands_volume_wipe_test.py
  tests/conftest.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/cli, area/libvirt, component/storage/pool, component/storage/volume

Fix typo in fvirt.libvirt.uri tests.
  tests/libvirt/libvirt_uri_test.py
Labels: area/tests, area/libvirt

Add fvirt.libvirt.storage_pool create and define tests.
  tests/libvirt/libvirt_storage_pool_test.py
Labels: area/tests, area/libvirt, component/storage/pool

Fix serialization path selection.
  tests/conftest.py
Labels: area/tests

Add more pool command tests.
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/pool/commands_pool_define_test.py
Labels: area/tests, area/cli, component/storage/pool
