Repository Ferroin/fvirt, changes with the labels that .github/labeler.yml gives for each.
All labels: area/common, area/tests, area/cli, area/libvirt, area/util, component/host, component/domain, component/storage/pool, component/storage/volume, documentation, infra, infra/ci, infra/packaging

Fix mixxing volume wipe command and lazy-load tests.
  fvirt/commands/_base/group.py
  fvirt/commands/volume/__init__.py
  tests/commands/domain/commands_domain_test.py
  tests/commands/host/commands_host_test.py
  tests/commands/pool/commands_pool_test.py
  tests/commands/shared.py
  tests/commands/volume/commands_volume_test.py
Labels: area/tests, area/cli, component/host, component/domain, component/storage/pool, component/storage/volume

Fix mixxing volume wipe command and lazy-load tests.
  fvirt/commands/_base/group.py
  fvirt/commands/volume/__init__.py
  tests/commands/domain/commands_domain_test.py
  tests/commands/host/commands_host_test.py
  tests/commands/pool/commands_pool_test.py
  tests/commands/shared.py
  tests/commands/volume/commands_volume_test.py
Labels: area/tests, area/cli, component/host, component/domain, component/storage/pool, component/storage/volume

Fix up fvirt.util.tables and add proper testing for it.
  fvirt/commands/_base/list.py
  fvirt/util/tables.py
  tests/util/util_tables_test.py
Labels: area/tests, area/cli, area/util

Fix up fvirt.util.tables and add proper testing for it.
  fvirt/commands/_base/list.py
  fvirt/util/tables.py
  tests/util/util_tables_test.py
Labels: area/tests, area/cli, area/util

Move formatting for optional properties to fvirt.util.tables.
  fvirt/commands/domain/list.py
  fvirt/commands/pool/list.py
  fvirt/commands/volume/list.py
  fvirt/util/tables.py
  tests/util/util_tables_test.py
Labels: area/tests, area/cli, area/util, component/domain, component/storage/pool, component/storage/volume

Add command to show detailed storage pool info.
  fvirt/commands/pool/__init__.py
  fvirt/commands/pool/info.py
  fvirt/commands/pool/list.py
  fvirt/libvirt/storage_pool.py
Labels: area/cli, area/libvirt, component/storage/pool

Add command to dump detailed domain info.
  fvirt/commands/_base/info.py
  fvirt/commands/domain/__init__.py
  fvirt/commands/domain/info.py
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
Labels: area/cli, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Add command to show detailed info about a storage volume.
  fvirt/commands/volume/__init__.py
  fvirt/commands/volume/info.py
Labels: area/cli, component/storage/volume

Add command to show detailed storage pool info.
  fvirt/commands/pool/__init__.py
  fvirt/commands/pool/info.py
  fvirt/commands/pool/list.py
  fvirt/libvirt/storage_pool.py
Labels: area/cli, area/libvirt, component/storage/pool

Add command to dump detailed domain info.
  fvirt/commands/_base/info.py
  fvirt/commands/domain/__init__.py
  fvirt/commands/domain/info.py
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
Labels: area/cli, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Move formatting for optional properties to fvirt.util.tables.
  fvirt/commands/domain/list.py
  fvirt/commands/pool/list.py
  fvirt/commands/volume/list.py
  fvirt/util/tables.py
  tests/util/util_tables_test.py
Labels: area/tests, area/cli, area/util, component/domain, component/storage/pool, component/storage/volume

Add command to show detailed info about a storage volume.
  fvirt/commands/volume/__init__.py
  fvirt/commands/volume/info.py
Labels: area/cli, component/storage/volume

Add command to print host system information.
  fvirt/commands/host/__init__.py
  fvirt/commands/host/info.py
  fvirt/libvirt/hypervisor.py
Labels: area/cli, area/libvirt, component/host

Add command to print host system information.
  fvirt/commands/host/__init__.py
  fvirt/commands/host/info.py
  fvirt/libvirt/hypervisor.py
Labels: area/cli, area/libvirt, component/host

Switch define and create commands to new infrastructure.
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/new.py
  fvirt/commands/_base/objects.py
  fvirt/commands/domain/create.py
  fvirt/commands/domain/define.py
  fvirt/commands/pool/define.py
  fvirt/commands/volume/define.py
Labels: area/cli, component/domain, component/storage/pool, component/storage/volume

Switch define and create commands to new infrastructure.
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/new.py
  fvirt/commands/_base/objects.py
  fvirt/commands/domain/create.py
  fvirt/commands/domain/define.py
  fvirt/commands/pool/define.py
  fvirt/commands/volume/define.py
Labels: area/cli, component/domain, component/storage/pool, component/storage/volume

Add hypervisor method to create transient storage pools.
  fvirt/libvirt/hypervisor.py
Labels: area/libvirt, component/host

Add command to create transient storage pools.
  fvirt/commands/pool/__init__.py
  fvirt/commands/pool/create.py
Labels: area/cli, component/storage/pool

Add hypervisor method to create transient storage pools.
  fvirt/libvirt/hypervisor.py
Labels: area/libvirt, component/host

Add command to create transient storage pools.
  fvirt/commands/pool/__init__.py
  fvirt/commands/pool/create.py
Labels: area/cli, component/storage/pool

Cut back significantly on system dependencies for CI.
  .github/workflows/review.yml
Labels: infra/ci

Fix typo.
  .github/workflows/review.yml
Labels: infra/ci

Fix system dependency installation.
  .github/workflows/review.yml
Labels: infra/ci

Clean up mypy config and add CI caching.
  .github/workflows/review.yml
  pyproject.toml
Labels: infra/ci, infra/packaging

Fix typo.
  .github/workflows/review.yml
Labels: infra/ci

Use environment for python and poetry versions.
  .github/workflows/review.yml
Labels: infra/ci

Save poetry cache between runs.
  .github/workflows/review.yml
Labels: infra/ci

Fix system dependency installation.
  .github/workflows/review.yml
Labels: infra/ci

Save poetry cache between runs.
  .github/workflows/review.yml
Labels: infra/ci

Use environment for python and poetry versions.
  .github/workflows/review.yml
Labels: infra/ci

Fix typo.
  .github/workflows/review.yml
Labels: infra/ci

Clean up mypy config and add CI caching.
  .github/workflows/review.yml
  pyproject.toml
Labels: infra/ci, infra/packaging

Cut back significantly on system dependencies for CI.
  .github/workflows/review.yml
Labels: infra/ci

Fix typo.
  .github/workflows/review.yml
Labels: infra/ci

Add infrastructure to format units when printing byte vaalues.
  fvirt/cli.py
  fvirt/commands/_base/state.py
Labels: area/cli

Add unit handling for info and list commands.
  fvirt/commands/_base/info.py
  fvirt/commands/_base/list.py
  fvirt/commands/domain/info.py
  fvirt/commands/pool/info.py
  fvirt/commands/pool/list.py
  fvirt/commands/volume/info.py
  fvirt/commands/volume/list.py
  fvirt/util/tables.py
Labels: area/cli, area/util, component/domain, component/storage/pool, component/storage/volume

Add function to convert from bytes to larger units.
  fvirt/util/units.py
  tests/util/util_units_test.py
Labels: area/tests, area/util

Fix decimal point handling.
  fvirt/commands/_base/state.py
Labels: area/cli

Fix incorrect argument names in fvirt.libvirt.storage_pool
  fvirt/libvirt/storage_pool.py
Labels: area/libvirt, component/storage/pool

Fix unit back conversion.
  fvirt/util/units.py
  tests/util/util_units_test.py
Labels: area/tests, area/util

.github/labeler.yml:

---
# Configuration for the pr-labeler workflow.

area/common:
  - fvirt/__init__.py
  - fvirt/version.py
  - tests/version_test.py

area/tests:
  - tests/**

area/cli:
  - fvirt/cli.py
  - fvirt/commands/**
  - tests/cli_test.py
  - tests/commands/**

area/libvirt:
  - fvirt/libvirt/**
  - tests/libvirt/**

area/util:
  - fvirt/util/**
  - tests/util/**

component/host:
  - fvirt/commands/host/**
  - fvirt/libvirt/hypervisor.py
  - tests/commands/host/**
  - tests/libvirt/libvirt_hypervisor_test.py

component/domain:
  - fvirt/commands/domain/**
  - fvirt/libvirt/domain.py
  - tests/commands/domain/**
  - tests/libvirt/libvirt_domain_test.py

component/storage/pool:
  - fvirt/commands/pool/**
  - fvirt/libvirt/storage_pool.py
  - tests/commands/pool/**
  - tests/libvirt/libvirt_storage_pool_test.py

component/storage/volume:
  - fvirt/commands/volume/**
  - fvirt/libvirt/volume.py
  - tests/commands/volume/**
  - tests/libvirt/libvirt_volume_test.py

documentation:
  - LICENSE.md
  - README.md

infra:
  - .gigignore
  - .gitmodules
  - .github/labeler.yml
  - .github/labels.yml

infra/ci:
  - .flake8
  - .github/dependabot.yml
  - .github/scripts/check-labels.py
  - .github/workflows/**
  - .mdl-style.rb

infra/packaging:
  - poetry.lock
  - pyproject.toml
