Repository Ferroin/fvirt, changes with the labels that .github/labeler.yml gives for each.
All labels: area/common, documentation, infra, infra/ci, infra/packaging

.github/labeler.yml:

---
# Configuration for the pr-labeler workflow.

area/common:
  - ulvdm/__init__.py
  - ulvdm/common.py

documentation:
  - LICENSE.md
  - README.md

infra:
  - .gigignore
  - .gitmodules
  - .github/labeler.yml
  - .github/labels.yml

infra/ci:
  - .flake8
  - .github/dependabot.yml
  - .github/scripts/check-labels.py
  - .github/workflows/**
  - .mdl-style.rb

infra/packaging:
  - poetry.lock
  - pyproject.toml

Add commands to define objects.
  virshx/commands/domain/__init__.py
  virshx/commands/domain/define.py
  virshx/commands/pool/__init__.py
  virshx/commands/pool/define.py
  virshx/commands/volume/__init__.py
  virshx/commands/volume/define.py
  virshx/libvirt/storage_pool.py
  virshx/util/commands.py
Labels: none

Add command to create domains.
  virshx/commands/domain/__init__.py
  virshx/commands/domain/create.py
  virshx/libvirt/hypervisor.py
Labels: none

Update deps.
  poetry.lock
Labels: infra/packaging

Add commands to undefine domains and storage pools.
  virshx/commands/domain/__init__.py
  virshx/commands/domain/undefine.py
  virshx/commands/pool/__init__.py
  virshx/commands/pool/undefine.py
  virshx/util/commands.py
Labels: none

Assorted virshx.libvirt cleanup.
  virshx/libvirt/domain.py
  virshx/libvirt/entity.py
  virshx/libvirt/storage_pool.py
  virshx/libvirt/volume.py
Labels: none

Add explicit help commands.
  fvirt/cli.py
  fvirt/commands/domain/__init__.py
  fvirt/commands/pool/__init__.py
  fvirt/commands/volume/__init__.py
  fvirt/util/commands.py
  fvirt/util/match.py
Labels: none

Add help topic about connection handling.
  fvirt/cli.py
Labels: none

Assorted fixups around help commands.
  fvirt/cli.py
  fvirt/commands/domain/__init__.py
  fvirt/commands/pool/__init__.py
  fvirt/commands/volume/__init__.py
  fvirt/commands/volume/define.py
  fvirt/commands/volume/list.py
  fvirt/util/commands.py
  fvirt/util/match.py
Labels: none

Redesign and normalize entity access protocols.
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/entity_access.py
  fvirt/libvirt/hypervisor.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
Labels: none

Fold entity matching and generic lookup into EntityAccess protocol.
  fvirt/commands/domain/__init__.py
  fvirt/commands/pool/__init__.py
  fvirt/commands/volume/__init__.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity_access.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/volume.py
  fvirt/util/commands.py
  fvirt/util/match.py
  fvirt/util/match_alias.py
  fvirt/util/match_params.py
Labels: none

Add base class for fvirt commands.
  fvirt/commands/_base/command.py
Labels: none

Add custom classes for command groups.
  fvirt/cli.py
  fvirt/commands/_base/group.py
  fvirt/commands/_base/help.py
  fvirt/commands/domain/__init__.py
  fvirt/commands/pool/__init__.py
  fvirt/commands/volume/__init__.py
  fvirt/util/match_params.py
Labels: none

Rewrite uri command to use our custom command class.
  fvirt/commands/uri.py
Labels: none

Add classes for lifecycle commands.
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/match.py
  fvirt/commands/domain/reset.py
  fvirt/commands/domain/shutdown.py
  fvirt/commands/domain/start.py
  fvirt/commands/domain/stop.py
  fvirt/commands/domain/undefine.py
  fvirt/commands/pool/start.py
  fvirt/commands/pool/stop.py
  fvirt/commands/pool/undefine.py
  fvirt/util/commands.py
Labels: none

Convert list commands to use a custom command class.
  fvirt/commands/_base/list.py
  fvirt/commands/_base/match.py
  fvirt/commands/domain/list.py
  fvirt/commands/pool/list.py
  fvirt/commands/volume/list.py
  fvirt/util/commands.py
Labels: none

Add command class for XSLT operations.
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/match.py
  fvirt/commands/_base/xslt.py
  fvirt/commands/domain/xslt.py
  fvirt/commands/pool/xslt.py
  fvirt/util/commands.py
Labels: none

Create custom class for define commands.
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/xslt.py
  fvirt/commands/domain/define.py
  fvirt/commands/pool/define.py
  fvirt/commands/volume/define.py
  fvirt/util/commands.py
Labels: none

Merge util.match_params into commands._base.match.
  fvirt/commands/_base/match.py
  fvirt/util/match_params.py
Labels: none

Property sort imports.
  fvirt/cli.py
  fvirt/commands/__init__.py
  fvirt/commands/_base/command.py
  fvirt/commands/_base/group.py
  fvirt/commands/_base/help.py
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/list.py
  fvirt/commands/_base/match.py
  fvirt/commands/_base/xslt.py
  fvirt/commands/domain/__init__.py
  fvirt/commands/domain/list.py
  fvirt/commands/domain/reset.py
  fvirt/commands/domain/shutdown.py
  fvirt/commands/domain/start.py
  fvirt/commands/domain/stop.py
  fvirt/commands/domain/undefine.py
  fvirt/commands/domain/xslt.py
  fvirt/commands/pool/__init__.py
  fvirt/commands/pool/list.py
  fvirt/commands/pool/start.py
  fvirt/commands/pool/stop.py
  fvirt/commands/pool/undefine.py
  fvirt/commands/pool/xslt.py
  fvirt/commands/uri.py
  fvirt/commands/volume/__init__.py
  fvirt/commands/volume/list.py
  fvirt/libvirt/__init__.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/entity_access.py
  fvirt/libvirt/hypervisor.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/uri.py
  fvirt/libvirt/volume.py
  fvirt/util/tables.py
  poetry.lock
  pyproject.toml
Labels: infra/packaging

Clean up flake8 config.
  .flake8
Labels: infra/ci

Fix incorrect import.
  fvirt/commands/_base/match.py
Labels: none

Defer initializing blessed until first use.
  fvirt/commands/domain/list.py
  fvirt/commands/pool/list.py
  fvirt/util/tables.py
  fvirt/util/terminal.py
Labels: none

Lazy-load commands.
  fvirt/cli.py
  fvirt/commands/__init__.py
  fvirt/commands/_base/group.py
  fvirt/commands/domain/__init__.py
  fvirt/commands/pool/__init__.py
  fvirt/commands/volume/__init__.py
Labels: none

Rework connection management in Hypervisor instances.
  fvirt/libvirt/entity.py
  fvirt/libvirt/hypervisor.py
Labels: none

Add bandit configuration to skip known bogus tests.
  .bandit
Labels: none

Switch domain create to use custom command class.
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/domain/create.py
Labels: none

Add proper event loop handling for libvirt.
  fvirt/cli.py
  fvirt/commands/_base/command.py
  fvirt/commands/_base/group.py
  fvirt/commands/_base/help.py
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/list.py
  fvirt/commands/_base/match.py
  fvirt/commands/_base/state.py
  fvirt/commands/_base/xslt.py
  fvirt/commands/domain/create.py
  fvirt/commands/domain/shutdown.py
  fvirt/libvirt/entity_access.py
  fvirt/libvirt/events.py
  fvirt/libvirt/hypervisor.py
Labels: none

Add commands to set autostart status for domains and storage pools.
  fvirt/commands/_base/autostart.py
  fvirt/commands/_base/match.py
  fvirt/commands/domain/__init__.py
  fvirt/commands/domain/autostart.py
  fvirt/commands/domain/create.py
  fvirt/commands/pool/__init__.py
  fvirt/commands/pool/autostart.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/storage_pool.py
Labels: none

Add commands to delete storage pools and volumes.
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/pool/__init__.py
  fvirt/commands/pool/delete.py
  fvirt/commands/volume/__init__.py
  fvirt/commands/volume/delete.py
  fvirt/libvirt/storage_pool.py
Labels: none

Add command to save domains.
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/domain/__init__.py
  fvirt/commands/domain/save.py
  fvirt/libvirt/__init__.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/exceptions.py
Labels: none

Fix listing of commands in help topics.
  fvirt/commands/_base/group.py
  fvirt/commands/_base/help.py
Labels: none

Add option to list commands to print only name or other property.
  fvirt/commands/_base/list.py
  fvirt/commands/domain/list.py
  fvirt/commands/volume/list.py
Labels: none

Add option to skip printing headers when listing objects.
  fvirt/commands/_base/list.py
  fvirt/util/tables.py
Labels: none

Add concurrent operation handling code.
  fvirt/cli.py
  fvirt/commands/_base/autostart.py
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/state.py
  fvirt/commands/_base/xslt.py
  fvirt/commands/domain/shutdown.py
  fvirt/commands/uri.py
  fvirt/commands/volume/delete.py
  fvirt/libvirt/runner.py
  fvirt/util/dummy_pool.py
Labels: none

Add command to dump object XML.
  fvirt/commands/_base/autostart.py
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/xml.py
  fvirt/commands/domain/__init__.py
  fvirt/commands/domain/xml.py
  fvirt/commands/pool/__init__.py
  fvirt/commands/pool/xml.py
  fvirt/commands/volume/__init__.py
  fvirt/commands/volume/xml.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
Labels: none

Assorted bug fixes.
  fvirt/commands/_base/autostart.py
  fvirt/commands/_base/lifecycle.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/entity_access.py
Labels: none

Add command to refresh storage pools.
  fvirt/commands/pool/__init__.py
  fvirt/commands/pool/list.py
  fvirt/commands/pool/refresh.py
  fvirt/libvirt/storage_pool.py
Labels: none

Add some basic testing.
  fvirt/libvirt/uri.py
  poetry.lock
  pyproject.toml
  tests/cli_test.py
  tests/commands/domain/domain_test.py
  tests/commands/pool/pool_test.py
  tests/commands/volume/volume_test.py
  tests/libvirt/uri_test.py
Labels: infra/packaging

Add new host subcommand and version command.
  fvirt/cli.py
  fvirt/commands/__init__.py
  fvirt/commands/host/__init__.py
  fvirt/commands/host/uri.py
  fvirt/commands/host/version.py
  fvirt/commands/version.py
  fvirt/libvirt/__init__.py
  fvirt/libvirt/hypervisor.py
  fvirt/version.py
  tests/commands/host/host_test.py
  tests/commands/host/host_uri_test.py
  tests/commands/host/host_version_test.py
  tests/commands/version_test.py
Labels: none

Rename existing tests so that we ensure no overlap.
  tests/commands/commands_version_test.py
  tests/commands/domain/commands_domain_test.py
  tests/commands/host/commands_host_test.py
  tests/commands/host/commands_host_uri_test.py
  tests/commands/host/commands_host_version_test.py
  tests/commands/pool/commands_pool_test.py
  tests/commands/volume/commands_volume_test.py
  tests/libvirt/libvirt_uri_test.py
Labels: none
