Repository Ferroin/fvirt, changes with the labels that .github/labeler.yml gives for each.
All labels: area/common, documentation, infra, infra/ci, infra/packaging

.github/labeler.yml:

---
# Configuration for the pr-labeler workflow.

area/common:
  - ulvdm/__init__.py
  - ulvdm/common.py

documentation:
  - LICENSE.md
  - README.md

infra:
  - .gigignore
  - .gitmodules
  - .github/labeler.yml
  - .github/labels.yml

infra/ci:
  - .flake8
  - .github/dependabot.yml
  - .github/scripts/check-labels.py
  - .github/workflows/**
  - .mdl-style.rb

infra/packaging:
  - poetry.lock
  - pyproject.toml

Fixup flake8 config.
  .flake8
Labels: infra/ci

Rename and add basic libvirt wrappers.
  README.md
  poetry.lock
  pyproject.toml
  ulvdm/__init__.py
  virshx/__init__.py
  virshx/common.py
  virshx/libvirt/__init__.py
  virshx/libvirt/domain.py
  virshx/libvirt/exceptions.py
  virshx/libvirt/hypervisor.py
Labels: area/common, documentation, infra/packaging

Update internal libvirt bindings.
  README.md
  poetry.lock
  pyproject.toml
  virshx/common.py
  virshx/libvirt/__init__.py
  virshx/libvirt/domain.py
  virshx/libvirt/entity.py
  virshx/libvirt/exceptions.py
  virshx/libvirt/hypervisor.py
  virshx/libvirt/storage_pool.py
  virshx/libvirt/volume.py
Labels: documentation, infra/packaging

Skip libvirt-python 9.7.0 because it’s broken.
  poetry.lock
  pyproject.toml
Labels: infra/packaging

Add basic CLI infrastructure.
  poetry.lock
  pyproject.toml
  virshx/cli.py
  virshx/commands/__init__.py
  virshx/common.py
  virshx/libvirt/__init__.py
  virshx/libvirt/entity.py
Labels: infra/packaging

Add command to list domains.
  virshx/cli.py
  virshx/commands/__init__.py
  virshx/commands/domains.py
  virshx/common.py
  virshx/libvirt/__init__.py
  virshx/libvirt/domain.py
  virshx/libvirt/hypervisor.py
Labels: none

Add command to print hypervisor URI.
  virshx/commands/__init__.py
  virshx/commands/uri.py
Labels: none

Assorted improvements.
  poetry.lock
  pyproject.toml
  virshx/cli.py
  virshx/commands/uri.py
  virshx/libvirt/__init__.py
  virshx/libvirt/domain.py
  virshx/libvirt/hypervisor.py
  virshx/libvirt/uri.py
Labels: infra/packaging

Add color output support for domains.
  poetry.lock
  pyproject.toml
  virshx/commands/domains.py
  virshx/common.py
  virshx/libvirt/__init__.py
  virshx/libvirt/domain.py
Labels: infra/packaging

Further improvements to domain listing code.
  virshx/commands/domains.py
  virshx/common.py
  virshx/libvirt/domain.py
Labels: none

Add command to list storage pools.
  virshx/commands/__init__.py
  virshx/commands/domains.py
  virshx/commands/pools.py
  virshx/common.py
  virshx/libvirt/entity.py
  virshx/libvirt/storage_pool.py
Labels: none

Add command to list storage volumes.
  virshx/commands/__init__.py
  virshx/commands/pools.py
  virshx/commands/volumes.py
  virshx/libvirt/hypervisor.py
  virshx/libvirt/volume.py
Labels: none

Add extra default columns for domains and pools.
  virshx/commands/domains.py
  virshx/commands/pools.py
Labels: none

Add extra columns to domains list.
  virshx/commands/domains.py
  virshx/libvirt/domain.py
Labels: none

Column updates for pools command.
  virshx/commands/pools.py
Labels: none

Redo README.md.
  README.md
Labels: documentation

Better encapsulate shared code.
  virshx/__init__.py
  virshx/cli.py
  virshx/commands/domains.py
  virshx/commands/pools.py
  virshx/commands/volumes.py
  virshx/libvirt/__init__.py
  virshx/libvirt/entity.py
  virshx/libvirt/exceptions.py
  virshx/libvirt/volume.py
  virshx/util/__init__.py
  virshx/util/tables.py
  virshx/util/terminal.py
  virshx/util/units.py
  virshx/version.py
Labels: none

Add object matching functionality.
  virshx/commands/domains.py
  virshx/commands/pools.py
  virshx/commands/volumes.py
  virshx/libvirt/domain.py
  virshx/libvirt/storage_pool.py
  virshx/libvirt/volume.py
  virshx/util/match.py
  virshx/util/match_alias.py
Labels: none

Add command to start domains.
  virshx/commands/__init__.py
  virshx/commands/start.py
Labels: none

Add code to select idempotent behavior for running state change methods.
  virshx/libvirt/domain.py
  virshx/libvirt/entity.py
Labels: none

Add --fail-fast and --idempotent global flags.
  virshx/cli.py
  virshx/commands/start.py
Labels: none

Improve command documentation.
  virshx/commands/domains.py
  virshx/commands/pools.py
  virshx/commands/start.py
  virshx/commands/uri.py
  virshx/commands/volumes.py
Labels: none

Add command to start storage pools.
  virshx/commands/__init__.py
  virshx/commands/start_pool.py
Labels: none

Deduplicate code for starting runnable libvirt objects.
  virshx/commands/_common.py
  virshx/commands/start.py
  virshx/commands/start_pool.py
Labels: none

Split entity selection logic for commands to it’s own function.
  virshx/commands/_common.py
Labels: none

Add domain reset functionality and command.
  virshx/commands/__init__.py
  virshx/commands/_common.py
  virshx/commands/reset.py
  virshx/libvirt/domain.py
  virshx/libvirt/exceptions.py
Labels: none

Add commands to stop/destroy domains or storage pools.
  virshx/commands/__init__.py
  virshx/commands/_common.py
  virshx/commands/stop.py
  virshx/commands/stop_pool.py
Labels: none

Make --fail-if-no-match a global argument.
  virshx/cli.py
  virshx/commands/_common.py
  virshx/commands/domains.py
  virshx/commands/pools.py
  virshx/commands/volumes.py
Labels: none

Correctly handle inability to find storage pool when listing volumes.
  virshx/commands/volumes.py
Labels: none

Add command to shut down domains.
  virshx/commands/__init__.py
  virshx/commands/shutdown.py
  virshx/libvirt/__init__.py
  virshx/libvirt/domain.py
  virshx/libvirt/exceptions.py
Labels: none

Shifted libvirt lifecycle methods to use special return values.
  virshx/commands/_common.py
  virshx/commands/reset.py
  virshx/commands/shutdown.py
  virshx/libvirt/__init__.py
  virshx/libvirt/domain.py
  virshx/libvirt/entity.py
Labels: none

Add commands to apply XSLT documents to domains and pools.
  virshx/commands/__init__.py
  virshx/commands/_common.py
  virshx/commands/shutdown.py
  virshx/commands/xslt.py
  virshx/commands/xslt_pool.py
  virshx/libvirt/entity.py
Labels: none

Centralize object listing logic.
  virshx/commands/_common.py
  virshx/commands/domains.py
  virshx/commands/pools.py
  virshx/commands/volumes.py
  virshx/util/tables.py
Labels: none

Doc updates.
  README.md
  virshx/commands/_common.py
Labels: documentation

Better organize commands.
  virshx/commands/__init__.py
  virshx/commands/domain/__init__.py
  virshx/commands/domain/domains.py
  virshx/commands/domain/reset.py
  virshx/commands/domain/shutdown.py
  virshx/commands/domain/start.py
  virshx/commands/domain/stop.py
  virshx/commands/domain/xslt.py
  virshx/commands/pool/__init__.py
  virshx/commands/pool/pools.py
  virshx/commands/pool/start_pool.py
  virshx/commands/pool/stop_pool.py
  virshx/commands/pool/xslt_pool.py
  virshx/commands/volumes.py
  virshx/util/commands.py
Labels: none

Support matching entities on UUID or ID as well as name.
  virshx/util/commands.py
Labels: none

Restructure hypervisor entity access classes.
  virshx/libvirt/hypervisor.py
Labels: none

Restructure entity creation code in Hypervisor.
  virshx/libvirt/hypervisor.py
Labels: none

Fix bugs in libvirt bindings.
  virshx/libvirt/hypervisor.py
  virshx/libvirt/uri.py
Labels: none

Restructure to use nested command groups.
  virshx/cli.py
  virshx/commands/__init__.py
  virshx/commands/domain/__init__.py
  virshx/commands/domain/list.py
  virshx/commands/domain/reset.py
  virshx/commands/domain/shutdown.py
  virshx/commands/pool/__init__.py
  virshx/commands/pool/list.py
  virshx/commands/pool/start.py
  virshx/commands/pool/stop.py
  virshx/commands/pool/xslt.py
  virshx/commands/volume/__init__.py
  virshx/commands/volume/list.py
  virshx/util/commands.py
Labels: none
