Repository Ferroin/fvirt, changes with the labels that .github/labeler.yml gives for each.
All labels: area/common, area/tests, area/cli, area/libvirt, area/util, component/host, component/domain, component/storage/pool, component/storage/volume, documentation, infra, infra/ci, infra/packaging

.github/labeler.yml:

---
# Configuration for the pr-labeler workflow.

area/common:
  - fvirt/__init__.py
  - fvirt/version.py
  - tests/version_test.py

area/tests:
  - tests/**

area/cli:
  - fvirt/cli.py
  - fvirt/commands/**
  - tests/cli_test.py
  - tests/commands/**

area/libvirt:
  - fvirt/libvirt/**
  - tests/libvirt/**

area/util:
  - fvirt/util/**
  - tests/util/**

component/host:
  - fvirt/commands/host/**
  - fvirt/libvirt/hypervisor.py
  - tests/commands/host/**
  - tests/libvirt/libvirt_hypervisor_test.py

component/domain:
  - fvirt/commands/domain/**
  - fvirt/libvirt/domain.py
  - tests/commands/domain/**
  - tests/libvirt/libvirt_domain_test.py

component/storage/pool:
  - fvirt/commands/pool/**
  - fvirt/libvirt/storage_pool.py
  - tests/commands/pool/**
  - tests/libvirt/libvirt_storage_pool_test.py

component/storage/volume:
  - fvirt/commands/volume/**
  - fvirt/libvirt/volume.py
  - tests/commands/volume/**
  - tests/libvirt/libvirt_volume_test.py

documentation:
  - LICENSE.md
  - README.md

infra:
  - .gigignore
  - .gitmodules
  - .github/labeler.yml
  - .github/labels.yml

infra/ci:
  - .flake8
  - .github/dependabot.yml
  - .github/scripts/check-labels.py
  - .github/workflows/**
  - .mdl-style.rb

infra/packaging:
  - poetry.lock
  - pyproject.toml

Add tests for info commands and fix issues they expose.
  fvirt/commands/_base/info.py
  fvirt/commands/domain/info.py
  tests/commands/domain/commands_domain_info_test.py
  tests/commands/pool/commands_pool_info_test.py
  tests/commands/shared.py
  tests/commands/volume/commands_volume_info_test.py
  tests/commands/volume/commands_volume_xml_test.py
Labels: area/tests, area/cli, component/domain, component/storage/pool, component/storage/volume

Add testing for volume resize and fix errors it exposes.
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Add proper cleanup of temporary volumes in tests.
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Pytest configuration tweaks.
  pyproject.toml
Labels: infra/packaging

Use a consistent prefix for unique string generation.
  tests/conftest.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Assorted new tests and test improvements.
  tests/commands/_base/commands_base_exitcode_test.py
  tests/commands/domain/commands_domain_info_test.py
  tests/commands/domain/commands_domain_list_test.py
  tests/commands/pool/commands_pool_info_test.py
  tests/commands/shared.py
  tests/commands/volume/commands_volume_info_test.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_hypervisor_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
  tests/libvirt/shared.py
Labels: area/tests, area/cli, area/libvirt, component/host, component/domain, component/storage/pool, component/storage/volume

Add dummy tests for individual CLI commands.
  tests/commands/domain/commands_domain_autostart_test.py
  tests/commands/domain/commands_domain_console_test.py
  tests/commands/domain/commands_domain_create_test.py
  tests/commands/domain/commands_domain_define_test.py
  tests/commands/domain/commands_domain_reset_test.py
  tests/commands/domain/commands_domain_save_test.py
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/commands/domain/commands_domain_start_test.py
  tests/commands/domain/commands_domain_stop_test.py
  tests/commands/domain/commands_domain_undefine_test.py
  tests/commands/domain/commands_domain_xml_test.py
  tests/commands/domain/commands_domain_xslt_test.py
  tests/commands/host/commands_host_info_test.py
  tests/commands/pool/commands_pool_autostart_test.py
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/pool/commands_pool_create_test.py
  tests/commands/pool/commands_pool_define_test.py
  tests/commands/pool/commands_pool_delete_test.py
  tests/commands/pool/commands_pool_refresh_test.py
  tests/commands/pool/commands_pool_start_test.py
  tests/commands/pool/commands_pool_stop_test.py
  tests/commands/pool/commands_pool_undefine_test.py
  tests/commands/pool/commands_pool_xml_test.py
  tests/commands/pool/commands_pool_xslt_test.py
  tests/commands/volume/commands_volume_define_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_upload_test.py
  tests/commands/volume/commands_volume_wipe_test.py
  tests/commands/volume/commands_volume_xml_test.py
Labels: area/tests, area/cli, component/host, component/domain, component/storage/pool, component/storage/volume

Add tests for volume upload and volume download commands.
  fvirt/commands/volume/upload.py
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_upload_test.py
Labels: area/tests, area/cli, component/storage/volume

Add tests for XML dump commands.
  tests/__init__.py
  tests/commands/domain/commands_domain_xml_test.py
  tests/commands/pool/commands_pool_xml_test.py
  tests/commands/volume/commands_volume_xml_test.py
  tests/shared.py
Labels: area/tests, area/cli, component/domain, component/storage/pool, component/storage/volume

Fix assertion rewriting for tests.
  tests/__init__.py
Labels: area/tests

Fix volume shrink tests so that they properly test shrinking volumes.
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Fix typo surfaced by tests.
  fvirt/commands/domain/info.py
Labels: area/cli, component/domain

Use pytest.approx() for float comparisons.
  tests/util/util_units_test.py
Labels: area/tests, area/util

Add test to check fvirt.libvirt.volume.Volume.wipe().
  fvirt/libvirt/volume.py
  tests/conftest.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Fixes for issues exposed by tests.
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/volume.py
Labels: area/libvirt, component/storage/volume

Add proper test for host info command.
  tests/commands/host/commands_host_info_test.py
Labels: area/tests, area/cli, component/host

Add tests for list commands.
  tests/commands/domain/commands_domain_list_test.py
  tests/commands/pool/commands_pool_list_test.py
  tests/commands/shared.py
  tests/commands/volume/commands_volume_list_test.py
Labels: area/tests, area/cli, component/domain, component/storage/pool, component/storage/volume

Code coverage handling tweaks.
  fvirt/commands/_base/autostart.py
  fvirt/commands/_base/command.py
  fvirt/commands/_base/filetransfer.py
  fvirt/commands/_base/group.py
  fvirt/commands/_base/help.py
  fvirt/commands/_base/info.py
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/list.py
  fvirt/commands/_base/match.py
  fvirt/commands/_base/new.py
  fvirt/commands/_base/objects.py
  fvirt/commands/_base/xml.py
  fvirt/commands/_base/xslt.py
  fvirt/commands/domain/console.py
  fvirt/commands/version.py
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/entity_access.py
  fvirt/libvirt/runner.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/stream.py
  fvirt/libvirt/uri.py
  fvirt/libvirt/volume.py
  fvirt/util/dummy_pool.py
  fvirt/util/match.py
  fvirt/util/tables.py
  fvirt/util/units.py
  poetry.lock
  pyproject.toml
Labels: area/cli, area/libvirt, area/util, component/domain, component/storage/pool, component/storage/volume, infra/packaging

Assorted coverage improvements and bug fixes.
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/uri.py
  fvirt/util/match.py
  fvirt/util/tables.py
  fvirt/version.py
  tests/libvirt/libvirt_uri_test.py
  tests/version_test.py
Labels: area/common, area/tests, area/libvirt, area/util

Add test for volume wipe command and fix issues it exposes.
  fvirt/commands/_base/lifecycle.py
  tests/commands/volume/commands_volume_wipe_test.py
Labels: area/tests, area/cli, component/storage/volume

Add testing for XSLT functionality and fix issues it exposes.
  fvirt/libvirt/entity.py
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
  tests/libvirt/shared.py
  tests/shared.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Refactor CLI invocation in tests.
  tests/commands/commands_version_test.py
  tests/commands/domain/commands_domain_info_test.py
  tests/commands/domain/commands_domain_list_test.py
  tests/commands/domain/commands_domain_test.py
  tests/commands/domain/commands_domain_xml_test.py
  tests/commands/host/commands_host_info_test.py
  tests/commands/host/commands_host_test.py
  tests/commands/host/commands_host_uri_test.py
  tests/commands/host/commands_host_version_test.py
  tests/commands/pool/commands_pool_info_test.py
  tests/commands/pool/commands_pool_list_test.py
  tests/commands/pool/commands_pool_test.py
  tests/commands/pool/commands_pool_xml_test.py
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_info_test.py
  tests/commands/volume/commands_volume_list_test.py
  tests/commands/volume/commands_volume_test.py
  tests/commands/volume/commands_volume_upload_test.py
  tests/commands/volume/commands_volume_xml_test.py
  tests/conftest.py
  tests/util/util_tables_test.py
Labels: area/tests, area/cli, area/util, component/host, component/domain, component/storage/pool, component/storage/volume

Fix CI issues.
  fvirt/libvirt/volume.py
  tests/commands/host/commands_host_info_test.py
  tests/libvirt/libvirt_hypervisor_test.py
  tests/libvirt/libvirt_volume_test.py
  tests/util/util_tables_test.py
Labels: area/tests, area/cli, area/libvirt, area/util, component/host, component/storage/volume

Code coverage handling tweaks.
  fvirt/commands/_base/autostart.py
  fvirt/commands/_base/command.py
  fvirt/commands/_base/filetransfer.py
  fvirt/commands/_base/group.py
  fvirt/commands/_base/help.py
  fvirt/commands/_base/info.py
  fvirt/commands/_base/lifecycle.py
  fvirt/commands/_base/list.py
  fvirt/commands/_base/match.py
  fvirt/commands/_base/new.py
  fvirt/commands/_base/objects.py
  fvirt/commands/_base/xml.py
  fvirt/commands/_base/xslt.py
  fvirt/commands/domain/console.py
  fvirt/commands/version.py
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/domain.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/entity_access.py
  fvirt/libvirt/runner.py
  fvirt/libvirt/storage_pool.py
  fvirt/libvirt/stream.py
  fvirt/libvirt/uri.py
  fvirt/libvirt/volume.py
  fvirt/util/dummy_pool.py
  fvirt/util/match.py
  fvirt/util/tables.py
  fvirt/util/units.py
  poetry.lock
  pyproject.toml
Labels: area/cli, area/libvirt, area/util, component/domain, component/storage/pool, component/storage/volume, infra/packaging

Add tests for XML dump commands.
  tests/__init__.py
  tests/commands/domain/commands_domain_xml_test.py
  tests/commands/pool/commands_pool_xml_test.py
  tests/commands/volume/commands_volume_xml_test.py
  tests/shared.py
Labels: area/tests, area/cli, component/domain, component/storage/pool, component/storage/volume

Assorted coverage improvements and bug fixes.
  fvirt/libvirt/descriptors.py
  fvirt/libvirt/entity.py
  fvirt/libvirt/uri.py
  fvirt/util/match.py
  fvirt/util/tables.py
  fvirt/version.py
  tests/libvirt/libvirt_uri_test.py
  tests/version_test.py
Labels: area/common, area/tests, area/libvirt, area/util

Fix assertion rewriting for tests.
  tests/__init__.py
Labels: area/tests

Fix typo surfaced by tests.
  fvirt/commands/domain/info.py
Labels: area/cli, component/domain

Add tests to check for aliases topic in help commands.
  tests/commands/domain/commands_domain_test.py
  tests/commands/pool/commands_pool_test.py
  tests/commands/volume/commands_volume_test.py
Labels: area/tests, area/cli, component/domain, component/storage/pool, component/storage/volume

Add test for volume wipe command and fix issues it exposes.
  fvirt/commands/_base/lifecycle.py
  tests/commands/volume/commands_volume_wipe_test.py
Labels: area/tests, area/cli, component/storage/volume

Add tests for info commands and fix issues they expose.
  fvirt/commands/_base/info.py
  fvirt/commands/domain/info.py
  tests/commands/domain/commands_domain_info_test.py
  tests/commands/pool/commands_pool_info_test.py
  tests/commands/shared.py
  tests/commands/volume/commands_volume_info_test.py
  tests/commands/volume/commands_volume_xml_test.py
Labels: area/tests, area/cli, component/domain, component/storage/pool, component/storage/volume

Fix CI issues.
  fvirt/libvirt/volume.py
  tests/commands/host/commands_host_info_test.py
  tests/libvirt/libvirt_hypervisor_test.py
  tests/libvirt/libvirt_volume_test.py
  tests/util/util_tables_test.py
Labels: area/tests, area/cli, area/libvirt, area/util, component/host, component/storage/volume

Add testing for XSLT functionality and fix issues it exposes.
  fvirt/libvirt/entity.py
  fvirt/libvirt/volume.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
  tests/libvirt/shared.py
  tests/shared.py
Labels: area/tests, area/libvirt, component/domain, component/storage/pool, component/storage/volume

Add dummy tests for individual CLI commands.
  tests/commands/domain/commands_domain_autostart_test.py
  tests/commands/domain/commands_domain_console_test.py
  tests/commands/domain/commands_domain_create_test.py
  tests/commands/domain/commands_domain_define_test.py
  tests/commands/domain/commands_domain_reset_test.py
  tests/commands/domain/commands_domain_save_test.py
  tests/commands/domain/commands_domain_shutdown_test.py
  tests/commands/domain/commands_domain_start_test.py
  tests/commands/domain/commands_domain_stop_test.py
  tests/commands/domain/commands_domain_undefine_test.py
  tests/commands/domain/commands_domain_xml_test.py
  tests/commands/domain/commands_domain_xslt_test.py
  tests/commands/host/commands_host_info_test.py
  tests/commands/pool/commands_pool_autostart_test.py
  tests/commands/pool/commands_pool_build_test.py
  tests/commands/pool/commands_pool_create_test.py
  tests/commands/pool/commands_pool_define_test.py
  tests/commands/pool/commands_pool_delete_test.py
  tests/commands/pool/commands_pool_refresh_test.py
  tests/commands/pool/commands_pool_start_test.py
  tests/commands/pool/commands_pool_stop_test.py
  tests/commands/pool/commands_pool_undefine_test.py
  tests/commands/pool/commands_pool_xml_test.py
  tests/commands/pool/commands_pool_xslt_test.py
  tests/commands/volume/commands_volume_define_test.py
  tests/commands/volume/commands_volume_delete_test.py
  tests/commands/volume/commands_volume_download_test.py
  tests/commands/volume/commands_volume_upload_test.py
  tests/commands/volume/commands_volume_wipe_test.py
  tests/commands/volume/commands_volume_xml_test.py
Labels: area/tests, area/cli, component/host, component/domain, component/storage/pool, component/storage/volume

Use pytest.approx() for float comparisons.
  tests/util/util_units_test.py
Labels: area/tests, area/util

Assorted new tests and test improvements.
  tests/commands/_base/commands_base_exitcode_test.py
  tests/commands/domain/commands_domain_info_test.py
  tests/commands/domain/commands_domain_list_test.py
  tests/commands/pool/commands_pool_info_test.py
  tests/commands/shared.py
  tests/commands/volume/commands_volume_info_test.py
  tests/libvirt/libvirt_domain_test.py
  tests/libvirt/libvirt_hypervisor_test.py
  tests/libvirt/libvirt_storage_pool_test.py
  tests/libvirt/libvirt_volume_test.py
  tests/libvirt/shared.py
Labels: area/tests, area/cli, area/libvirt, component/host, component/domain, component/storage/pool, component/storage/volume

Add proper cleanup of temporary volumes in tests.
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Attempt domain lookup by ID first.
  fvirt/libvirt/domain.py
Labels: area/libvirt, component/domain

Fix volume shrink tests so that they properly test shrinking volumes.
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume

Fix unique text prefix.
  tests/conftest.py
  tests/libvirt/libvirt_volume_test.py
Labels: area/tests, area/libvirt, component/storage/volume
